Hrishikesh Balakrishnan
Minaal Sheikh
Aditya Pawar

# Data Preparation

In [4]:
import pandas as pd
import yfinance as yf

# Fetch S&P 500 ticker symbols from Wikipedia
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
sp500 = pd.read_html(url)[0]
tickers = sp500['Symbol'].tolist()

# Define date range
start_date = '2010-01-01'
end_date = '2023-12-31'

# Fetch data for all tickers
data = [yf.download(ticker, start=start_date, end=end_date, progress=False)
        .assign(Symbol=ticker) for ticker in tickers]

# Concatenate data into a single DataFrame
all_data = pd.concat(data)

# Filter data for the specified date range
all_data = all_data[(all_data.index >= start_date) & (all_data.index <= end_date)]

# Reset index to make 'Date' a column again
all_data.reset_index(inplace=True)

# Display the DataFrame
all_data

1 Failed download:
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2010-01-01 -> 2023-12-31)')

1 Failed download:
['GEV']: Exception("%ticker%: Data doesn't exist for startDate = 1262322000, endDate = 1703998800")

1 Failed download:
['SOLV']: Exception("%ticker%: Data doesn't exist for startDate = 1262322000, endDate = 1703998800")

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol
0,2010-01-04,69.473244,69.774246,69.122070,69.414719,40.835033,3640265.0,MMM
1,2010-01-05,69.230766,69.590302,68.311035,68.979935,40.579266,3405012.0,MMM
2,2010-01-06,70.133781,70.735786,69.824417,69.958191,41.154762,6301126.0,MMM
3,2010-01-07,69.665550,70.033447,68.662209,70.008362,41.184273,5346240.0,MMM
4,2010-01-08,69.974915,70.501671,69.648827,70.501671,41.474461,4073337.0,MMM
...,...,...,...,...,...,...,...,...
1674038,2023-12-22,195.320007,195.910004,192.740005,194.979996,193.985657,1548400.0,ZTS
1674039,2023-12-26,194.880005,196.339996,194.089996,195.500000,194.503006,814600.0,ZTS
1674040,2023-12-27,195.410004,197.009995,194.740005,196.899994,195.895859,766400.0,ZTS
1674041,2023-12-28,197.619995,198.600006,196.529999,197.160004,196.154541,880100.0,ZTS
1674042,2023-12-29,196.679993,198.009995,196.250000,197.369995,196.363464,1007200.0,ZTS

In [5]:
all_data['Date'] = pd.to_datetime(all_data['Date'])
all_data['year'] = all_data['Date'].dt.year
all_data['month'] = all_data['Date'].dt.month
all_data['day'] = all_data['Date'].dt.day
all_data

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,year,month,day
0,2010-01-04,69.473244,69.774246,69.122070,69.414719,40.835033,3640265.0,MMM,2010,1,4
1,2010-01-05,69.230766,69.590302,68.311035,68.979935,40.579266,3405012.0,MMM,2010,1,5
2,2010-01-06,70.133781,70.735786,69.824417,69.958191,41.154762,6301126.0,MMM,2010,1,6
3,2010-01-07,69.665550,70.033447,68.662209,70.008362,41.184273,5346240.0,MMM,2010,1,7
4,2010-01-08,69.974915,70.501671,69.648827,70.501671,41.474461,4073337.0,MMM,2010,1,8
...,...,...,...,...,...,...,...,...,...,...,...
1674038,2023-12-22,195.320007,195.910004,192.740005,194.979996,193.985657,1548400.0,ZTS,2023,12,22
1674039,2023-12-26,194.880005,196.339996,194.089996,195.500000,194.503006,814600.0,ZTS,2023,12,26
1674040,2023-12-27,195.410004,197.009995,194.740005,196.899994,195.895859,766400.0,ZTS,2023,12,27
1674041,2023-12-28,197.619995,198.600006,196.529999,197.160004,196.154541,880100.0,ZTS,2023,12,28
1674042,2023-12-29,196.679993,198.009995,196.250000,197.369995,196.363464,1007200.0,ZTS,2023,12,29

In [6]:
all_data.sort_values(by=['Symbol','year','month','day'], inplace=True)
all_data = all_data.reset_index(drop=True)
all_data

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,year,month,day
0,2010-01-04,22.453505,22.625179,22.267525,22.389128,20.122227,3815561.0,A,2010,1,4
1,2010-01-05,22.324751,22.331903,22.002861,22.145924,19.903652,4186031.0,A,2010,1,5
2,2010-01-06,22.067240,22.174536,22.002861,22.067240,19.832926,3243779.0,A,2010,1,6
3,2010-01-07,22.017166,22.045780,21.816881,22.038628,19.807211,3095172.0,A,2010,1,7
4,2010-01-08,21.917025,22.067240,21.745352,22.031473,19.800791,3733918.0,A,2010,1,8
...,...,...,...,...,...,...,...,...,...,...,...
1674038,2023-12-22,195.320007,195.910004,192.740005,194.979996,193.985657,1548400.0,ZTS,2023,12,22
1674039,2023-12-26,194.880005,196.339996,194.089996,195.500000,194.503006,814600.0,ZTS,2023,12,26
1674040,2023-12-27,195.410004,197.009995,194.740005,196.899994,195.895859,766400.0,ZTS,2023,12,27
1674041,2023-12-28,197.619995,198.600006,196.529999,197.160004,196.154541,880100.0,ZTS,2023,12,28
1674042,2023-12-29,196.679993,198.009995,196.250000,197.369995,196.363464,1007200.0,ZTS,2023,12,29

In [7]:
my_df = all_data[ (all_data['year']<=2023) & (all_data['year']>=2010) ].copy()

In [9]:
my_df.reset_index(drop=True, inplace=True)
my_df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,year,month,day
0,2010-01-04,22.453505,22.625179,22.267525,22.389128,20.122227,3815561.0,A,2010,1,4
1,2010-01-05,22.324751,22.331903,22.002861,22.145924,19.903652,4186031.0,A,2010,1,5
2,2010-01-06,22.067240,22.174536,22.002861,22.067240,19.832926,3243779.0,A,2010,1,6
3,2010-01-07,22.017166,22.045780,21.816881,22.038628,19.807211,3095172.0,A,2010,1,7
4,2010-01-08,21.917025,22.067240,21.745352,22.031473,19.800791,3733918.0,A,2010,1,8
...,...,...,...,...,...,...,...,...,...,...,...
1674038,2023-12-22,195.320007,195.910004,192.740005,194.979996,193.985657,1548400.0,ZTS,2023,12,22
1674039,2023-12-26,194.880005,196.339996,194.089996,195.500000,194.503006,814600.0,ZTS,2023,12,26
1674040,2023-12-27,195.410004,197.009995,194.740005,196.899994,195.895859,766400.0,ZTS,2023,12,27
1674041,2023-12-28,197.619995,198.600006,196.529999,197.160004,196.154541,880100.0,ZTS,2023,12,28
1674042,2023-12-29,196.679993,198.009995,196.250000,197.369995,196.363464,1007200.0,ZTS,2023,12,29

In [11]:
my_df['prev_price']=my_df.groupby('Symbol')['Adj Close'].shift(1)
my_df['daily_return']= (my_df['Adj Close'] - my_df['prev_price']) / my_df['prev_price']
my_df['d_vol']= my_df['Volume'] * my_df['Close']

In [12]:
my_df['avrg_return_daily'] = my_df.groupby(['Symbol','year','month'])['daily_return'].transform('mean')
my_df['std_return_daily'] = my_df.groupby(['Symbol','year','month'])['daily_return'].transform('std')
my_df['skew_return_daily'] = my_df.groupby(['Symbol','year','month'])['daily_return'].transform('skew')
my_df['avrg_vol'] = my_df.groupby(['Symbol','year','month'])['d_vol'].transform('mean')
my_df['std_vol'] = my_df.groupby(['Symbol','year','month'])['d_vol'].transform('std')
my_df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,year,month,day,prev_price,daily_return,d_vol,avrg_return_daily,std_return_daily,skew_return_daily,avrg_vol,std_vol
0,2010-01-04,22.453505,22.625179,22.267525,22.389128,20.122227,3815561.0,A,2010,1,4,NaN,NaN,8.542708e+07,-0.006012,0.014417,-0.990304,9.082284e+07,2.211967e+07
1,2010-01-05,22.324751,22.331903,22.002861,22.145924,19.903652,4186031.0,A,2010,1,5,20.122227,-0.010862,9.270352e+07,-0.006012,0.014417,-0.990304,9.082284e+07,2.211967e+07
2,2010-01-06,22.067240,22.174536,22.002861,22.067240,19.832926,3243779.0,A,2010,1,6,19.903652,-0.003553,7.158125e+07,-0.006012,0.014417,-0.990304,9.082284e+07,2.211967e+07
3,2010-01-07,22.017166,22.045780,21.816881,22.038628,19.807211,3095172.0,A,2010,1,7,19.832926,-0.001297,6.821334e+07,-0.006012,0.014417,-0.990304,9.082284e+07,2.211967e+07
4,2010-01-08,21.917025,22.067240,21.745352,22.031473,19.800791,3733918.0,A,2010,1,8,19.807211,-0.000324,8.226371e+07,-0.006012,0.014417,-0.990304,9.082284e+07,2.211967e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1674038,2023-12-22,195.320007,195.910004,192.740005,194.979996,193.985657,1548400.0,ZTS,2023,12,22,193.667297,0.001644,3.019070e+08,0.005634,0.012894,-0.161835,3.351546e+08,1.669749e+08
1674039,2023-12-26,194.880005,196.339996,194.089996,195.500000,194.503006,814600.0,ZTS,2023,12,26,193.985657,0.002667,1.592543e+08,0.005634,0.012894,-0.161835,3.351546e+08,1.669749e+08
1674040,2023-12-27,195.410004,197.009995,194.740005,196.899994,195.895859,766400.0,ZTS,2023,12,27,194.503006,0.007161,1.509042e+08,0.005634,0.012894,-0.161835,3.351546e+08,1.669749e+08
1674041,2023-12-28,197.619995,198.600006,196.529999,197.160004,196.154541,880100.0,ZTS,2023,12,28,195.895859,0.001321,1.735205e+08,0.005634,0.012894,-0.161835,3.351546e+08,1.669749e+08
1674042,2023-12-29,196.679993,198.009995,196.250000,197.369995,196.363464,1007200.0,ZTS,2023,12,29,196.154541,0.001065,1.987911e+08,0.005634,0.012894,-0.161835,3.351546e+08,1.669749e+08

In [13]:
monthly_df=(my_df.groupby(['Symbol','year','month']).last().reset_index()).drop(columns=['daily_return','Open','High','Low','Close','Volume','day','prev_price','d_vol'])
monthly_df

,Symbol,year,month,Date,Adj Close,avrg_return_daily,std_return_daily,skew_return_daily,avrg_vol,std_vol
0,A,2010,1,2010-01-29,18.020000,-0.006012,0.014417,-0.990304,9.082284e+07,2.211967e+07
1,A,2010,2,2010-02-26,20.225084,0.006162,0.012060,0.795521,1.221945e+08,4.278765e+07
2,A,2010,3,2010-03-31,22.108727,0.003922,0.009486,0.943516,1.250573e+08,3.023042e+07
3,A,2010,4,2010-04-30,23.310921,0.002628,0.014793,0.484650,1.281770e+08,6.801884e+07
4,A,2010,5,2010-05-28,20.803675,-0.005176,0.032369,0.345698,1.466619e+08,7.069491e+07
...,...,...,...,...,...,...,...,...,...,...
79874,ZTS,2023,8,2023-08-31,189.085724,0.000684,0.016494,1.283725,3.264086e+08,1.348560e+08
79875,ZTS,2023,9,2023-09-29,172.679321,-0.004461,0.011811,-0.679614,2.816446e+08,8.595063e+07
79876,ZTS,2023,10,2023-10-31,156.199341,-0.004472,0.012649,-0.547005,2.832688e+08,9.145077e+07
79877,ZTS,2023,11,2023-11-30,175.769028,0.005804,0.018881,0.931149,3.806269e+08,2.169175e+08
79878,ZTS,2023,12,2023-12-29,196.363464,0.005634,0.012894,-0.161835,3.351546e+08,1.669749e+08

In [14]:
monthly_df['prev_price']=monthly_df.groupby('Symbol')['Adj Close'].shift(1)
monthly_df['return']=( monthly_df['Adj Close'] - monthly_df['prev_price'] )/monthly_df['prev_price']
monthly_df['next_month_return'] = monthly_df.groupby('Symbol')['return'].shift(-1)
monthly_df

,Symbol,year,month,Date,Adj Close,avrg_return_daily,std_return_daily,skew_return_daily,avrg_vol,std_vol,prev_price,return,next_month_return
0,A,2010,1,2010-01-29,18.020000,-0.006012,0.014417,-0.990304,9.082284e+07,2.211967e+07,NaN,NaN,0.122369
1,A,2010,2,2010-02-26,20.225084,0.006162,0.012060,0.795521,1.221945e+08,4.278765e+07,18.020000,0.122369,0.093134
2,A,2010,3,2010-03-31,22.108727,0.003922,0.009486,0.943516,1.250573e+08,3.023042e+07,20.225084,0.093134,0.054376
3,A,2010,4,2010-04-30,23.310921,0.002628,0.014793,0.484650,1.281770e+08,6.801884e+07,22.108727,0.054376,-0.107557
4,A,2010,5,2010-05-28,20.803675,-0.005176,0.032369,0.345698,1.466619e+08,7.069491e+07,23.310921,-0.107557,-0.121446
...,...,...,...,...,...,...,...,...,...,...,...,...,...
79874,ZTS,2023,8,2023-08-31,189.085724,0.000684,0.016494,1.283725,3.264086e+08,1.348560e+08,186.683823,0.012866,-0.086767
79875,ZTS,2023,9,2023-09-29,172.679321,-0.004461,0.011811,-0.679614,2.816446e+08,8.595063e+07,189.085724,-0.086767,-0.095437
79876,ZTS,2023,10,2023-10-31,156.199341,-0.004472,0.012649,-0.547005,2.832688e+08,9.145077e+07,172.679321,-0.095437,0.125287
79877,ZTS,2023,11,2023-11-30,175.769028,0.005804,0.018881,0.931149,3.806269e+08,2.169175e+08,156.199341,0.125287,0.117168
79878,ZTS,2023,12,2023-12-29,196.363464,0.005634,0.012894,-0.161835,3.351546e+08,1.669749e+08,175.769028,0.117168,NaN

In [15]:
import numpy as np
monthly_df['cum_3m']=monthly_df.groupby('Symbol')['return'].rolling(3).apply(lambda x: np.prod(1+x)-1).reset_index(drop=True)
monthly_df['cum_6m']=monthly_df.groupby('Symbol')['return'].rolling(6).apply(lambda x: np.prod(1+x)-1).reset_index(drop=True)
monthly_df['cum_9m']=monthly_df.groupby('Symbol')['return'].rolling(9).apply(lambda x: np.prod(1+x)-1).reset_index(drop=True)
monthly_df['cum_12m']=monthly_df.groupby('Symbol')['return'].rolling(12).apply(lambda x: np.prod(1+x)-1).reset_index(drop=True)
monthly_df

,Symbol,year,month,Date,Adj Close,avrg_return_daily,std_return_daily,skew_return_daily,avrg_vol,std_vol,prev_price,return,next_month_return,cum_3m,cum_6m,cum_9m,cum_12m
0,A,2010,1,2010-01-29,18.020000,-0.006012,0.014417,-0.990304,9.082284e+07,2.211967e+07,NaN,NaN,0.122369,NaN,NaN,NaN,NaN
1,A,2010,2,2010-02-26,20.225084,0.006162,0.012060,0.795521,1.221945e+08,4.278765e+07,18.020000,0.122369,0.093134,NaN,NaN,NaN,NaN
2,A,2010,3,2010-03-31,22.108727,0.003922,0.009486,0.943516,1.250573e+08,3.023042e+07,20.225084,0.093134,0.054376,NaN,NaN,NaN,NaN
3,A,2010,4,2010-04-30,23.310921,0.002628,0.014793,0.484650,1.281770e+08,6.801884e+07,22.108727,0.054376,-0.107557,0.293614,NaN,NaN,NaN
4,A,2010,5,2010-05-28,20.803675,-0.005176,0.032369,0.345698,1.466619e+08,7.069491e+07,23.310921,-0.107557,-0.121446,0.028608,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79874,ZTS,2023,8,2023-08-31,189.085724,0.000684,0.016494,1.283725,3.264086e+08,1.348560e+08,186.683823,0.012866,-0.086767,0.171272,0.145743,0.244250,0.227855
79875,ZTS,2023,9,2023-09-29,172.679321,-0.004461,0.011811,-0.679614,2.816446e+08,8.595063e+07,189.085724,-0.086767,-0.095437,0.012500,0.049850,0.195139,0.183626
79876,ZTS,2023,10,2023-10-31,156.199341,-0.004472,0.012649,-0.547005,2.832688e+08,9.145077e+07,172.679321,-0.095437,0.125287,-0.163295,-0.102731,-0.044892,0.050750
79877,ZTS,2023,11,2023-11-30,175.769028,0.005804,0.018881,0.931149,3.806269e+08,2.169175e+08,156.199341,0.125287,0.117168,-0.070427,0.088783,0.065052,0.156621
79878,ZTS,2023,12,2023-12-29,196.363464,0.005634,0.012894,-0.161835,3.351546e+08,1.669749e+08,175.769028,0.117168,NaN,0.137157,0.151371,0.193845,0.359061

In [16]:
monthly_df['sharpe_ratio']=( monthly_df['std_return_daily'] / monthly_df['avrg_return_daily'] )
monthly_df

,Symbol,year,month,Date,Adj Close,avrg_return_daily,std_return_daily,skew_return_daily,avrg_vol,std_vol,prev_price,return,next_month_return,cum_3m,cum_6m,cum_9m,cum_12m,sharpe_ratio
0,A,2010,1,2010-01-29,18.020000,-0.006012,0.014417,-0.990304,9.082284e+07,2.211967e+07,NaN,NaN,0.122369,NaN,NaN,NaN,NaN,-2.398202
1,A,2010,2,2010-02-26,20.225084,0.006162,0.012060,0.795521,1.221945e+08,4.278765e+07,18.020000,0.122369,0.093134,NaN,NaN,NaN,NaN,1.956951
2,A,2010,3,2010-03-31,22.108727,0.003922,0.009486,0.943516,1.250573e+08,3.023042e+07,20.225084,0.093134,0.054376,NaN,NaN,NaN,NaN,2.418757
3,A,2010,4,2010-04-30,23.310921,0.002628,0.014793,0.484650,1.281770e+08,6.801884e+07,22.108727,0.054376,-0.107557,0.293614,NaN,NaN,NaN,5.628915
4,A,2010,5,2010-05-28,20.803675,-0.005176,0.032369,0.345698,1.466619e+08,7.069491e+07,23.310921,-0.107557,-0.121446,0.028608,NaN,NaN,NaN,-6.253637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79874,ZTS,2023,8,2023-08-31,189.085724,0.000684,0.016494,1.283725,3.264086e+08,1.348560e+08,186.683823,0.012866,-0.086767,0.171272,0.145743,0.244250,0.227855,24.099844
79875,ZTS,2023,9,2023-09-29,172.679321,-0.004461,0.011811,-0.679614,2.816446e+08,8.595063e+07,189.085724,-0.086767,-0.095437,0.012500,0.049850,0.195139,0.183626,-2.647625
79876,ZTS,2023,10,2023-10-31,156.199341,-0.004472,0.012649,-0.547005,2.832688e+08,9.145077e+07,172.679321,-0.095437,0.125287,-0.163295,-0.102731,-0.044892,0.050750,-2.828500
79877,ZTS,2023,11,2023-11-30,175.769028,0.005804,0.018881,0.931149,3.806269e+08,2.169175e+08,156.199341,0.125287,0.117168,-0.070427,0.088783,0.065052,0.156621,3.253285
79878,ZTS,2023,12,2023-12-29,196.363464,0.005634,0.012894,-0.161835,3.351546e+08,1.669749e+08,175.769028,0.117168,NaN,0.137157,0.151371,0.193845,0.359061,2.288630

In [17]:
missing_values = monthly_df.isnull().sum()
missing_values

Symbol                  0
year                    0
month                   0
Date                    0
Adj Close               0
avrg_return_daily       4
std_return_daily        6
skew_return_daily       8
avrg_vol                0
std_vol                 4
prev_price            498
return                498
next_month_return     498
cum_3m               1494
cum_6m               2985
cum_9m               4475
cum_12m              5963
sharpe_ratio           16
dtype: int64

In [18]:
monthly_df.fillna(monthly_df.mean(), inplace=True)
monthly_df

/var/folders/t1/4y3q60x944ddctvkc3lmjcz40000gn/T/ipykernel_57088/1037972620.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  monthly_df.fillna(monthly_df.mean(), inplace=True)
/var/folders/t1/4y3q60x944ddctvkc3lmjcz40000gn/T/ipykernel_57088/1037972620.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  monthly_df.fillna(monthly_df.mean(), inplace=True)

,Symbol,year,month,Date,Adj Close,avrg_return_daily,std_return_daily,skew_return_daily,avrg_vol,std_vol,prev_price,return,next_month_return,cum_3m,cum_6m,cum_9m,cum_12m,sharpe_ratio
0,A,2010,1,2010-01-29,18.020000,-0.006012,0.014417,-0.990304,9.082284e+07,2.211967e+07,93.049171,0.014741,0.122369,0.041941,0.085969,0.132701,0.180425,-2.398202
1,A,2010,2,2010-02-26,20.225084,0.006162,0.012060,0.795521,1.221945e+08,4.278765e+07,18.020000,0.122369,0.093134,0.041941,0.085969,0.132701,0.180425,1.956951
2,A,2010,3,2010-03-31,22.108727,0.003922,0.009486,0.943516,1.250573e+08,3.023042e+07,20.225084,0.093134,0.054376,0.041941,0.085969,0.132701,0.180425,2.418757
3,A,2010,4,2010-04-30,23.310921,0.002628,0.014793,0.484650,1.281770e+08,6.801884e+07,22.108727,0.054376,-0.107557,0.293614,0.085969,0.132701,0.180425,5.628915
4,A,2010,5,2010-05-28,20.803675,-0.005176,0.032369,0.345698,1.466619e+08,7.069491e+07,23.310921,-0.107557,-0.121446,0.028608,0.085969,0.132701,0.180425,-6.253637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79874,ZTS,2023,8,2023-08-31,189.085724,0.000684,0.016494,1.283725,3.264086e+08,1.348560e+08,186.683823,0.012866,-0.086767,0.171272,0.145743,0.244250,0.227855,24.099844
79875,ZTS,2023,9,2023-09-29,172.679321,-0.004461,0.011811,-0.679614,2.816446e+08,8.595063e+07,189.085724,-0.086767,-0.095437,0.012500,0.049850,0.195139,0.183626,-2.647625
79876,ZTS,2023,10,2023-10-31,156.199341,-0.004472,0.012649,-0.547005,2.832688e+08,9.145077e+07,172.679321,-0.095437,0.125287,-0.163295,-0.102731,-0.044892,0.050750,-2.828500
79877,ZTS,2023,11,2023-11-30,175.769028,0.005804,0.018881,0.931149,3.806269e+08,2.169175e+08,156.199341,0.125287,0.117168,-0.070427,0.088783,0.065052,0.156621,3.253285
79878,ZTS,2023,12,2023-12-29,196.363464,0.005634,0.012894,-0.161835,3.351546e+08,1.669749e+08,175.769028,0.117168,0.014741,0.137157,0.151371,0.193845,0.359061,2.288630

In [21]:
from sklearn.model_selection import train_test_split

X =  monthly_df.drop(columns=['Symbol', 'Date', 'next_month_return','return','year','month'])
y = monthly_df['next_month_return'] 

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=8)

In [23]:
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler

# Initialize StandardScaler
scaler = StandardScaler()

# Perform 5-fold cross-validation on the training data
kf = KFold(n_splits=5, shuffle=True, random_state=8)

# Initialize lists to store normalized train and test data
X_train_normalized_list = []
X_test_normalized_list = []

# Normalize train data and apply cross-validation
for train_index, test_index in kf.split(X_train):
    # Split train data into train and validation sets
    X_train_fold, X_val_fold = X_train.iloc[train_index], X_train.iloc[test_index]
    y_train_fold, y_val_fold = y_train.iloc[train_index], y_train.iloc[test_index]
    
    # Normalize train and validation data
    X_train_normalized_fold = scaler.fit_transform(X_train_fold)
    X_val_normalized_fold = scaler.transform(X_val_fold)
    
    # Append normalized train and validation data to lists
    X_train_normalized_list.append(X_train_normalized_fold)
    X_test_normalized_list.append(X_val_normalized_fold)

# Concatenate normalized train and validation data
X_train_normalized = np.concatenate(X_train_normalized_list)
X_val_normalized = np.concatenate(X_test_normalized_list)

# Normalize test data based on train data
X_test_normalized = scaler.transform(X_test)

In [26]:
X_train_normalized = pd.DataFrame(X_train_normalized, columns=X.columns)
X_train_normalized

,Adj Close,avrg_return_daily,std_return_daily,skew_return_daily,avrg_vol,std_vol,prev_price,cum_3m,cum_6m,cum_9m,cum_12m,sharpe_ratio
0,-0.005687,-0.242198,-0.946978,-0.530952,-0.232406,-0.298597,0.000771,-0.163162,0.046015,0.086358,0.079114,-0.002447
1,-0.240459,0.590821,-0.234421,-1.014995,-0.068228,0.186350,-0.255498,0.437894,-0.333024,0.881320,0.462922,0.002027
2,1.130671,-0.002533,0.826112,-0.794110,0.072739,-0.164991,1.134793,-0.144541,0.845518,1.541490,1.903550,0.006138
3,-0.421606,-1.494916,0.018066,-0.427589,-0.264996,-0.277974,-0.414145,-0.776853,-1.083090,-0.673315,-0.567518,0.000973
4,-0.220457,0.095882,-0.157951,-0.466335,-0.247969,-0.300888,-0.225046,-0.533856,-0.681166,0.318402,-0.823841,0.003239
...,...,...,...,...,...,...,...,...,...,...,...,...
255607,-0.027095,0.110966,-0.830351,-0.493160,-0.294259,-0.319764,-0.035371,0.228979,0.370425,0.107510,-0.107882,0.002320
255608,-0.378871,0.956404,0.386812,0.271262,-0.209146,-0.262502,-0.389182,-1.060613,-1.873761,-1.697359,-1.250887,0.001983
255609,-0.279903,0.809258,2.357089,-0.051330,-0.259795,-0.272980,-0.293612,1.191413,-1.609946,-1.628161,-1.344591,0.002739
255610,-0.440437,3.127273,1.456169,-0.116932,-0.325755,-0.343153,-0.451889,0.054903,1.051918,3.950444,2.257903,0.001696
255611,-0.149847,1.025825,-0.045038,0.645845,0.053668,0.091489,-0.179938,-1.129375,-0.791855,-0.372408,-0.519773,0.001828

In [27]:
X_test_normalized = pd.DataFrame(X_test_normalized, columns=X.columns)
X_test_normalized

,Adj Close,avrg_return_daily,std_return_daily,skew_return_daily,avrg_vol,std_vol,prev_price,cum_3m,cum_6m,cum_9m,cum_12m,sharpe_ratio
0,-0.417997,1.670573,0.629876,-0.513910,-0.272089,-0.293342,-0.428722,1.916629,-0.005174,-0.002722,-0.005296,0.001795
1,-0.378387,-2.535331,2.752583,-3.948613,-0.222657,0.079300,-0.354551,-1.593290,-0.005174,-0.002722,-0.005296,0.000747
2,-0.296887,-0.028068,-0.281871,-0.451283,-0.197082,-0.258954,-0.299071,-1.033351,-0.797602,-0.471336,-0.489494,0.004321
3,2.485046,0.516991,-0.224248,-0.026625,0.342736,0.116750,2.337802,0.033045,0.239418,-0.256068,-0.591756,0.002067
4,-0.267898,1.753575,0.122794,1.192890,-0.128459,-0.066497,-0.298306,0.672573,0.325433,-0.231178,-0.649814,0.001689
...,...,...,...,...,...,...,...,...,...,...,...,...
15971,1.602558,-0.598270,0.774150,-0.480064,0.367053,0.545385,1.706758,-0.288858,-0.663171,-0.526879,-0.921349,-0.000608
15972,-0.275920,-0.818982,0.467378,-2.540655,0.711761,0.975484,-0.263110,-0.525038,-0.697767,-0.764676,-0.839258,0.000248
15973,0.034961,-0.379019,-0.844364,-0.074878,-0.052264,-0.183294,0.048951,-0.581701,-0.013230,0.000115,-0.351740,-0.000040
15974,0.381653,-1.466370,0.355140,-2.024149,-0.289032,-0.259514,0.494842,-0.458208,0.310836,1.375609,0.808890,0.000850
15975,-0.390527,-0.189813,0.552804,0.747274,-0.226671,-0.189034,-0.391268,3.474104,-0.487539,-0.626609,-0.226361,-0.182137

In [29]:
print("Train data shape:", X_train_normalized.shape, y_train.shape)
print("Test data shape:", X_test_normalized.shape, y_test.shape)

Train data shape: (255612, 12) (63903,)
Test data shape: (15976, 12) (15976,)

In [30]:
from sklearn.model_selection import train_test_split

# Split the data into train and test sets with the same random state
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=8)

# Normalize train and test data
X_train_normalized = scaler.fit_transform(X_train)
X_test_normalized = scaler.transform(X_test)

In [31]:
print("Train data shape:", X_train_normalized.shape, y_train.shape)
print("Test data shape:", X_test_normalized.shape, y_test.shape)

Train data shape: (63903, 12) (63903,)
Test data shape: (15976, 12) (15976,)

# Problem 1

In [32]:
from sklearn.linear_model import RidgeCV
from sklearn.metrics import r2_score, mean_squared_error

# Train the Ridge regression model with cross-validation to find the best alpha
ridge = RidgeCV(alphas=alphas, cv=kf)
ridge.fit(X_train_normalized, y_train)

# Get the best alpha
best_alpha = ridge.alpha_

# Evaluate the model on train data
y_train_pred = ridge.predict(X_train_normalized)
train_r2 = r2_score(y_train, y_train_pred)
train_mse = mean_squared_error(y_train, y_train_pred)

# Evaluate the model on test data
y_test_pred = ridge.predict(X_test_normalized)
test_r2 = r2_score(y_test, y_test_pred)
test_mse = mean_squared_error(y_test, y_test_pred)

# Print results
print("Best alpha:", best_alpha)
print("Train R-squared:", train_r2)
print("Train MSE:", train_mse)
print("Test R-squared:", test_r2)
print("Test MSE:", test_mse)

Best alpha: 100.0
Train R-squared: 0.01640718844252187
Train MSE: 0.007083368659003123
Test R-squared: 0.008905425544508572
Test MSE: 0.007217370499019335

# Problem 2

In [33]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score, mean_squared_error

# Define a parameter grid for hyperparameter tuning
param_grid = {
    'max_depth': [None, 10, 20, 30],
    'min_samples_leaf': [1, 2, 5],
    'min_samples_split': [2, 5, 10],
    'max_leaf_nodes': [None, 5, 10, 20]
}

# Initialize Decision Tree Regressor
dt_regressor = DecisionTreeRegressor()

# Perform GridSearchCV for hyperparameter tuning
grid_search = GridSearchCV(estimator=dt_regressor, param_grid=param_grid, cv=kf, scoring='r2')
grid_search.fit(X_train_normalized, y_train)

# Get the best hyperparameters
best_params = grid_search.best_params_

# Train the model with the best hyperparameters
best_dt_regressor = DecisionTreeRegressor(**best_params)
best_dt_regressor.fit(X_train_normalized, y_train)

# Evaluate the model on train data
y_train_pred = best_dt_regressor.predict(X_train_normalized)
train_r2 = r2_score(y_train, y_train_pred)
train_mse = mean_squared_error(y_train, y_train_pred)

# Evaluate the model on test data
y_test_pred = best_dt_regressor.predict(X_test_normalized)
test_r2 = r2_score(y_test, y_test_pred)
test_mse = mean_squared_error(y_test, y_test_pred)

# Print results
print("Best hyperparameters:", best_params)
print("Train R-squared:", train_r2)
print("Train MSE:", train_mse)
print("Test R-squared:", test_r2)
print("Test MSE:", test_mse)

Best hyperparameters: {'max_depth': None, 'max_leaf_nodes': 10, 'min_samples_leaf': 1, 'min_samples_split': 2}
Train R-squared: 0.03911076610412578
Train MSE: 0.006919868266802411
Test R-squared: 0.012603815670652163
Test MSE: 0.007190438001881049

# Problem 3

In [48]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import r2_score, mean_squared_error
from scipy.stats import randint
import numpy as np
import time

# Define a simplified parameter distribution for RandomizedSearchCV
param_dist = {
    'n_estimators': randint(50, 150),           # Reduce range for n_estimators
    'max_depth': [None, 5, 10],                  # Limit choices for max_depth
    'min_samples_leaf': randint(1, 3),           # Reduce range for min_samples_leaf
    'min_samples_split': randint(2, 5),          # Reduce range for min_samples_split
    'max_features': ['auto', 'sqrt']            # Fewer options for max_features
}

# Reduce the number of iterations based on time constraint
n_iter = 10  # Reduced number of iterations

# Initialize Random Forest Regressor
rf_regressor = RandomForestRegressor()

# Start the timer
start_time = time.time()

# Perform RandomizedSearchCV for hyperparameter tuning
random_search = RandomizedSearchCV(estimator=rf_regressor, param_distributions=param_dist, n_iter=n_iter, cv=kf, scoring='r2')
random_search.fit(X_train_normalized, y_train)

# Get the best hyperparameters
best_params = random_search.best_params_

# Train the model with the best hyperparameters
best_rf_regressor = RandomForestRegressor(**best_params)
best_rf_regressor.fit(X_train_normalized, y_train)

# Evaluate the model on train data
y_train_pred = best_rf_regressor.predict(X_train_normalized)
train_r2 = r2_score(y_train, y_train_pred)
train_mse = mean_squared_error(y_train, y_train_pred)

# Evaluate the model on test data
y_test_pred = best_rf_regressor.predict(X_test_normalized)
test_r2 = r2_score(y_test, y_test_pred)
test_mse = mean_squared_error(y_test, y_test_pred)

# End the timer
end_time = time.time()

# Calculate the total time taken
total_time = end_time - start_time

# Print results
print("Best hyperparameters:", best_params)
print("Train R-squared:", train_r2)
print("Train MSE:", train_mse)
print("Test R-squared:", test_r2)
print("Test MSE:", test_mse)
print("Total time taken:", total_time, "seconds")

Best hyperparameters: {'max_depth': None, 'max_features': 'sqrt', 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 112}
Train R-squared: 0.7681390678527001
Train MSE: 0.0016697524023369288
Test R-squared: 0.03730944877971465
Test MSE: 0.00701052610229376
Total time taken: 3377.7614891529083 seconds

In [36]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error

# Initialize Random Forest Regressor with the best hyperparameters
rf_regressor = RandomForestRegressor(n_estimators=100, max_depth=None, min_samples_split=2, 
                                      min_samples_leaf=1, max_features='auto')
rf_regressor.fit(X_train_normalized, y_train)

# Evaluate the model on train data
y_train_pred = rf_regressor.predict(X_train_normalized)
train_r2 = r2_score(y_train, y_train_pred)
train_mse = mean_squared_error(y_train, y_train_pred)

# Evaluate the model on test data
y_test_pred = rf_regressor.predict(X_test_normalized)
test_r2 = r2_score(y_test, y_test_pred)
test_mse = mean_squared_error(y_test, y_test_pred)

# Print results
print("Train R-squared:", train_r2)
print("Train MSE:", train_mse)
print("Test R-squared:", test_r2)
print("Test MSE:", test_mse)

Train R-squared: 0.8668818687992441
Train MSE: 0.000958653608904906
Test R-squared: 0.03766591209494152
Test MSE: 0.007007930257374809

In [ ]:
from sklearn.preprocessing import StandardScaler

# Initialize StandardScaler
scaler = StandardScaler()

# Fit and transform the training data
X_train_scaled = scaler.fit_transform(X_train)

# Transform the test data
X_test_scaled = scaler.transform(X_test)

# Problem 4

In [43]:
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, mean_squared_error
from scipy.stats import uniform, randint

# Scale the data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Define a parameter grid for hyperparameter tuning
param_dist = {
    'hidden_layer_sizes': [(50,), (25,), (10,)],
    'activation': ['relu', 'tanh'],
    'solver': ['adam', 'lbfgs'],
    'alpha': uniform(0.0001, 0.01),
    'learning_rate': ['constant', 'adaptive'],
}

# Initialize MLP Regressor
mlp_regressor = MLPRegressor(max_iter=1000)

# Perform RandomizedSearchCV for hyperparameter tuning
random_search = RandomizedSearchCV(estimator=mlp_regressor, param_distributions=param_dist, n_iter=50, cv=5, scoring='r2', random_state=8, n_jobs=-1)
random_search.fit(X_train_scaled, y_train)

# Get the best hyperparameters
best_params = random_search.best_params_

# Train the model with the best hyperparameters
best_mlp_regressor = MLPRegressor(**best_params, max_iter=1000)
best_mlp_regressor.fit(X_train_scaled, y_train)

# Evaluate the model on train data
y_train_pred = best_mlp_regressor.predict(X_train_scaled)
train_r2 = r2_score(y_train, y_train_pred)
train_mse = mean_squared_error(y_train, y_train_pred)

# Evaluate the model on test data
y_test_pred = best_mlp_regressor.predict(X_test_scaled)
test_r2 = r2_score(y_test, y_test_pred)
test_mse = mean_squared_error(y_test, y_test_pred)

# Print results
print("Best hyperparameters:", best_params)
print("Train R-squared:", train_r2)
print("Train MSE:", train_mse)
print("Test R-squared:", test_r2)
print("Test MSE:", test_mse)

Best hyperparameters: {'activation': 'tanh', 'alpha': 0.0047810606476518525, 'hidden_layer_sizes': (50,), 'learning_rate': 'adaptive', 'solver': 'lbfgs'}
Train R-squared: 0.03795667014007087
Train MSE: 0.006928179518252413
Test R-squared: 0.0186569946289592
Test MSE: 0.00714635741021504

# Problem 6

In [49]:
import numpy as np

# Function to create new features by interacting all combinations of two features and calculating squared values
def create_new_features(X):
    num_samples, num_features = X.shape
    new_features = []

    # Calculate squared values of each original feature
    for i in range(num_features):
        new_features.append(X[:, i] ** 2)

    # Interact all combinations of two features
    for i in range(num_features):
        for j in range(i + 1, num_features):
            new_features.append(X[:, i] * X[:, j])

    # Stack the original features and new features horizontally
    return np.hstack(new_features)

# Create new features for training and test data
X_train_new = create_new_features(X_train_normalized)
X_test_new = create_new_features(X_test_normalized)

In [50]:
X_train_new

array([ 5.74375774e-05,  5.60161708e-02,  2.15204532e-01, ...,
        4.56260884e-03,  3.60321801e-03, -9.04397617e-04])

In [51]:
X_test_new

array([1.76821852e-01, 1.45011789e-01, 8.94744397e-02, ...,
       1.23898183e-04, 5.22219952e-04, 4.61487764e-02])

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

# Define a smaller parameter grid with fewer options for each hyperparameter
param_grid = {
    'n_estimators': randint(100, 500),           # Reduce range for n_estimators
    'max_depth': [None, 5, 10],                  # Limit choices for max_depth
    'min_samples_leaf': randint(1, 3),           # Reduce range for min_samples_leaf
    'min_samples_split': randint(2, 6),          # Reduce range for min_samples_split
    'max_features': ['auto', 'sqrt']            # Fewer options for max_features
}

# Define the number of iterations to sample from the parameter grid
n_iter = 30  # Set the desired number of iterations

# Initialize Random Forest Regressor
rf_regressor = RandomForestRegressor()

# Perform RandomizedSearchCV for hyperparameter tuning with limited iterations
random_search = RandomizedSearchCV(estimator=rf_regressor, param_distributions=param_grid, n_iter=n_iter, cv=kf, scoring='r2')
random_search.fit(X_train_combined, y_train)

# Get the best hyperparameters
best_params = random_search.best_params_

# Train the model with the best hyperparameters
best_rf_regressor = RandomForestRegressor(**best_params)
best_rf_regressor.fit(X_train_combined, y_train)

# Evaluate the model on train data
y_train_pred = best_rf_regressor.predict(X_train_combined)
train_r2 = r2_score(y_train, y_train_pred)
train_mse = mean_squared_error(y_train, y_train_pred)

# Evaluate the model on test data
y_test_pred = best_rf_regressor.predict(X_test_combined)
test_r2 = r2_score(y_test, y_test_pred)
test_mse = mean_squared_error(y_test, y_test_pred)

# Print results
print("Best hyperparameters:", best_params)
print("Train R-squared:", train_r2)
print("Train MSE:", train_mse)
print("Test R-squared:", test_r2)
print("Test MSE:", test_mse)

In [54]:
from itertools import combinations_with_replacement

# Function to create new features by interacting all combinations of two features and calculating squared values
def create_new_features(X):
    num_samples, num_features = X.shape
    new_features = []

    # Calculate squared values of each original feature
    for i in range(num_features):
        new_features.append(X[:, i] ** 2)

    # Interact all combinations of two features and calculate their product
    for feat1, feat2 in combinations_with_replacement(range(num_features), 2):
        new_features.append(X[:, feat1] * X[:, feat2])

    # Stack the original features and new features horizontally
    return np.column_stack([X] + new_features)

# Create new features for training and test data
X_train_new = create_new_features(X_train_normalized)
X_test_new = create_new_features(X_test_normalized)

In [55]:
print("Original features (train) shape:", X_train_normalized.shape)
print("New features (train) shape:", X_train_new.shape)
print("Original features (test) shape:", X_test_normalized.shape)
print("New features (test) shape:", X_test_new.shape)

Original features (train) shape: (63903, 12)
New features (train) shape: (63903, 102)
Original features (test) shape: (15976, 12)
New features (test) shape: (15976, 102)

In [57]:
X_train_all = np.hstack([X_train_normalized, X_train_new])
X_test_all = np.hstack([X_test_normalized, X_test_new])

In [60]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

# Define a smaller parameter grid with fewer options for each hyperparameter
param_grid = {
    'n_estimators': randint(50, 150),           # Reduce range for n_estimators
    'max_depth': [None, 5, 10],                  # Limit choices for max_depth
    'min_samples_leaf': randint(1, 3),           # Reduce range for min_samples_leaf
    'min_samples_split': randint(2, 6),          # Reduce range for min_samples_split
    'max_features': ['auto', 'sqrt']            # Fewer options for max_features
}

# Define the number of iterations to sample from the parameter grid
n_iter = 5  # Set the desired number of iterations

# Initialize Random Forest Regressor
rf_regressor = RandomForestRegressor()

# Perform RandomizedSearchCV for hyperparameter tuning with limited iterations
random_search = RandomizedSearchCV(estimator=rf_regressor, param_distributions=param_grid, n_iter=n_iter, cv=kf, scoring='r2')
random_search.fit(X_train_all, y_train)

# Get the best hyperparameters
best_params_all = random_search.best_params_

# Train the model with the best hyperparameters
best_rf_regressor = RandomForestRegressor(**best_params)
best_rf_regressor.fit(X_train_all, y_train)

# Evaluate the model on train data
y_train_pred = best_rf_regressor.predict(X_train_all)
train_r2_all = r2_score(y_train, y_train_pred)
train_mse_all = mean_squared_error(y_train, y_train_pred)

# Evaluate the model on test data
y_test_pred = best_rf_regressor.predict(X_test_all)
test_r2_all = r2_score(y_test, y_test_pred)
test_mse_all = mean_squared_error(y_test, y_test_pred)

# Print results
print("Best hyperparameters:", best_params_all)
print("Train R-squared:", train_r2_all)
print("Train MSE:", train_mse_all)
print("Test R-squared:", test_r2_all)
print("Test MSE:", test_mse_all)

Best hyperparameters: {'max_depth': None, 'max_features': 'sqrt', 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 53}
Train R-squared: 0.8060353082068881
Train MSE: 0.001396841663192901
Test R-squared: 0.04625806342102645
Test MSE: 0.006945360305825972

# Problem 7

In [61]:
import requests
import pandas as pd
headers = {'User-Agent': "email@address.com"}

companyTickers = requests.get(
    "https://www.sec.gov/files/company_tickers.json",
    headers=headers
    )
companyData = pd.DataFrame.from_dict(companyTickers.json(),  orient='index')
companyData

       cik_str ticker                             title
0       789019   MSFT                    MICROSOFT CORP
1       320193   AAPL                        Apple Inc.
2      1045810   NVDA                       NVIDIA CORP
3      1652044  GOOGL                     Alphabet Inc.
4      1018724   AMZN                    AMAZON COM INC
...        ...    ...                               ...
10347  1748680  OWSCX            1WS Credit Income Fund
10348  1957489  ABLVW             Able View Global Inc.
10349  1933644  MDLVY  Medlive Technology Co., Ltd./ADR
10350  1062750  SAAYY                  SAIPEM S P A /FI
10351  1572957  BGLAF                    BioGaia AB/ADR

[10352 rows x 3 columns]

In [64]:
tickers

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADBE',
 'AMD',
 'AES',
 'AFL',
 'A',
 'APD',
 'ABNB',
 'AKAM',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ADM',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'AXON',
 'BKR',
 'BALL',
 'BAC',
 'BK',
 'BBWI',
 'BAX',
 'BDX',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BX',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'BLDR',
 'BG',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'COR',
 'CNC',
 'CNP',
 'CF',
 'CHRW',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CPAY',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHR',
 'DRI',
 'DVA',
 'DAY',
 'DECK',
 'DE',
 'DAL',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DHI',
 'DTE',
 'DUK',
 'DD',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'LLY',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'EG',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FSLR',
 'FE',
 'FI',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GE',
 'GEHC',
 'GEV',
 'GEN',
 'GNRC',
 'GD',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GPN',
 'GL',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'DOC',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUBB',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JBL',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KVUE',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LULU',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PANW',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SOLV',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SMCI',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UBER',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VLTO',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VTRS',
 'VICI',
 'V',
 'VMC',
 'WRB',
 'WAB',
 'WBA',
 'WMT',
 'DIS',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WMB',
 'WTW',
 'GWW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZTS']

In [66]:
companyData_filtered = companyData[companyData['ticker'].isin(tickers)]
companyData_filtered

      cik_str ticker                                   title
0      789019   MSFT                          MICROSOFT CORP
1      320193   AAPL                              Apple Inc.
2     1045810   NVDA                             NVIDIA CORP
3     1652044  GOOGL                           Alphabet Inc.
4     1018724   AMZN                          AMAZON COM INC
...       ...    ...                                     ...
1144   914208    IVZ                            Invesco Ltd.
7628  1652044   GOOG                           Alphabet Inc.
7799   912595    MAA  MID AMERICA APARTMENT COMMUNITIES INC.
7811  1754301    FOX                                Fox Corp
7816  1564708    NWS                               NEWS CORP

[500 rows x 3 columns]

In [71]:
companyData_filtered['cik_str'] = companyData_filtered['cik_str'].astype(str).apply(lambda x: x.zfill(10))

companyData_filtered

/var/folders/t1/4y3q60x944ddctvkc3lmjcz40000gn/T/ipykernel_57088/3577008705.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  companyData_filtered['cik_str'] = companyData_filtered['cik_str'].astype(str).apply(lambda x: x.zfill(10))

         cik_str ticker                                   title
0     0000789019   MSFT                          MICROSOFT CORP
1     0000320193   AAPL                              Apple Inc.
2     0001045810   NVDA                             NVIDIA CORP
3     0001652044  GOOGL                           Alphabet Inc.
4     0001018724   AMZN                          AMAZON COM INC
...          ...    ...                                     ...
1144  0000914208    IVZ                            Invesco Ltd.
7628  0001652044   GOOG                           Alphabet Inc.
7799  0000912595    MAA  MID AMERICA APARTMENT COMMUNITIES INC.
7811  0001754301    FOX                                Fox Corp
7816  0001564708    NWS                               NEWS CORP

[500 rows x 3 columns]

In [73]:
import requests
import pandas as pd

def fetch_data(ticker_cik_dict):
    
    base_url = "https://data.sec.gov/api/xbrl/companyfacts/CIK{}.json"
    
    data = []

    headers = {
        'User-Agent': 'email@address.com'
    }

    for ticker, cik in ticker_cik_dict.items():
        cik = str(cik).zfill(10)
        url = base_url.format(cik)
        response = requests.get(url, headers=headers)
        if response.status_code == 200:
            json_data = response.json()
            
            assets_data = json_data['facts']['us-gaap']['Assets']['units']['USD']
            
            for asset in assets_data:
                asset['Ticker'] = ticker
            data.extend(assets_data)
        else:
            print(f"Failed to fetch data for ticker: {ticker}")

    return data

# Assuming you already have companyData_filtered DataFrame with the required data
# You can create ticker_cik_dict dynamically from companyData_filtered DataFrame
ticker_cik_dict = dict(zip(companyData_filtered['ticker'], companyData_filtered['cik_str']))

data = fetch_data(ticker_cik_dict)

df = pd.DataFrame(data)

df['end'] = pd.to_datetime(df['end'])

df_assets = df[(df['end'] >= '2010-01-01') & (df['end'] <= '2023-12-31')]

df_assets

Failed to fetch data for ticker: SOLV

,end,val,accn,fy,fp,form,filed,Ticker,frame
6,2010-03-31,84910000000,0001193125-10-090116,2010.0,Q3,10-Q,2010-04-22,MSFT,CY2010Q1I
7,2010-06-30,86113000000,0001193125-10-171791,2010.0,FY,10-K,2010-07-30,MSFT,NaN
8,2010-06-30,86113000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,NaN
9,2010-06-30,86113000000,0001193125-11-015947,2011.0,Q2,10-Q,2011-01-27,MSFT,NaN
10,2010-06-30,86113000000,0001193125-11-115186,2011.0,Q3,10-Q,2011-04-28,MSFT,NaN
...,...,...,...,...,...,...,...,...,...
58962,2023-06-30,16921000000,0001564708-23-000368,2023.0,FY,10-K,2023-08-15,NWS,NaN
58963,2023-06-30,16921000000,0001564708-23-000547,2024.0,Q1,10-Q,2023-11-09,NWS,NaN
58964,2023-06-30,16921000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NWS,CY2023Q2I
58965,2023-09-30,16475000000,0001564708-23-000547,2024.0,Q1,10-Q,2023-11-09,NWS,CY2023Q3I
58966,2023-12-31,16681000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NWS,CY2023Q4I

In [79]:
import requests
import pandas as pd

def fetch_data(ticker_cik_dict):
    
    base_url = "https://data.sec.gov/api/xbrl/companyfacts/CIK{}.json"
    
    data = []

    headers = {
        'User-Agent': 'email@address.com'
    }

    for ticker, cik in ticker_cik_dict.items():
        cik = str(cik).zfill(10)
        url = base_url.format(cik)
        response = requests.get(url, headers=headers)
        if response.status_code == 200:
            json_data = response.json()
            # Check if 'AssetsCurrent' key is present in the JSON data
            if 'AssetsCurrent' in json_data['facts']['us-gaap']:
                # Extracting all values under the "units" key from the "AssetsCurrent" section
                assets_data = json_data['facts']['us-gaap']['AssetsCurrent']['units']['USD']
                # Appending all values with corresponding ticker to the data list
                for asset in assets_data:
                    asset['Ticker'] = ticker
                data.extend(assets_data)
            else:
                print(f"AssetsCurrent data not found for ticker: {ticker}")
        else:
            print(f"Failed to fetch data for ticker: {ticker}")

    return data

# Create ticker_cik_dict dynamically from companyData_filtered DataFrame
ticker_cik_dict = dict(zip(companyData_filtered['ticker'], companyData_filtered['cik_str']))

data = fetch_data(ticker_cik_dict)

df_currass = pd.DataFrame(data)

df_currass['end'] = pd.to_datetime(df_currass['end'])

df_currass = df_currass[(df_currass['end'] >= '2010-01-01') & (df_currass['end'] <= '2023-12-31')]

df_currass

AssetsCurrent data not found for ticker: JPM
AssetsCurrent data not found for ticker: BAC
AssetsCurrent data not found for ticker: WFC
AssetsCurrent data not found for ticker: AXP
AssetsCurrent data not found for ticker: MS
AssetsCurrent data not found for ticker: BX
AssetsCurrent data not found for ticker: GS
AssetsCurrent data not found for ticker: SCHW
AssetsCurrent data not found for ticker: PGR
AssetsCurrent data not found for ticker: C
AssetsCurrent data not found for ticker: BLK
AssetsCurrent data not found for ticker: DE
AssetsCurrent data not found for ticker: CB
AssetsCurrent data not found for ticker: PLD
AssetsCurrent data not found for ticker: USB
AssetsCurrent data not found for ticker: PNC
AssetsCurrent data not found for ticker: WELL
AssetsCurrent data not found for ticker: COF
AssetsCurrent data not found for ticker: PCAR
AssetsCurrent data not found for ticker: SPG
AssetsCurrent data not found for ticker: MET
AssetsCurrent data not found for ticker: AIG
AssetsCurrent data not found for ticker: TFC
AssetsCurrent data not found for ticker: TRV
AssetsCurrent data not found for ticker: AFL
AssetsCurrent data not found for ticker: DHI
AssetsCurrent data not found for ticker: O
AssetsCurrent data not found for ticker: PSA
AssetsCurrent data not found for ticker: ALL
AssetsCurrent data not found for ticker: DLR
AssetsCurrent data not found for ticker: BK
AssetsCurrent data not found for ticker: LEN
AssetsCurrent data not found for ticker: AMP
AssetsCurrent data not found for ticker: PRU
AssetsCurrent data not found for ticker: ACGL
AssetsCurrent data not found for ticker: DFS
AssetsCurrent data not found for ticker: VICI
AssetsCurrent data not found for ticker: EXR
AssetsCurrent data not found for ticker: HIG
AssetsCurrent data not found for ticker: AVB
AssetsCurrent data not found for ticker: RJF
AssetsCurrent data not found for ticker: FITB
AssetsCurrent data not found for ticker: EQR
AssetsCurrent data not found for ticker: TROW
AssetsCurrent data not found for ticker: MTB
AssetsCurrent data not found for ticker: PHM
AssetsCurrent data not found for ticker: NVR
AssetsCurrent data not found for ticker: STT
AssetsCurrent data not found for ticker: INVH
AssetsCurrent data not found for ticker: WRB
AssetsCurrent data not found for ticker: ARE
AssetsCurrent data not found for ticker: HBAN
AssetsCurrent data not found for ticker: PFG
AssetsCurrent data not found for ticker: CINF
AssetsCurrent data not found for ticker: VTR
AssetsCurrent data not found for ticker: RF
AssetsCurrent data not found for ticker: SYF
AssetsCurrent data not found for ticker: NTRS
AssetsCurrent data not found for ticker: L
AssetsCurrent data not found for ticker: ESS
AssetsCurrent data not found for ticker: TXT
AssetsCurrent data not found for ticker: EG
AssetsCurrent data not found for ticker: CFG
AssetsCurrent data not found for ticker: KEY
AssetsCurrent data not found for ticker: UDR
AssetsCurrent data not found for ticker: HST
AssetsCurrent data not found for ticker: DOC
AssetsCurrent data not found for ticker: KIM
Failed to fetch data for ticker: SOLV
AssetsCurrent data not found for ticker: REG
AssetsCurrent data not found for ticker: CPT
AssetsCurrent data not found for ticker: BXP
AssetsCurrent data not found for ticker: AIZ
AssetsCurrent data not found for ticker: FRT
AssetsCurrent data not found for ticker: MKTX
AssetsCurrent data not found for ticker: GL
AssetsCurrent data not found for ticker: CMA
AssetsCurrent data not found for ticker: MAA

,end,val,accn,fy,fp,form,filed,Ticker,frame
6,2010-03-31,54518000000,0001193125-10-090116,2010.0,Q3,10-Q,2010-04-22,MSFT,CY2010Q1I
7,2010-06-30,55676000000,0001193125-10-171791,2010.0,FY,10-K,2010-07-30,MSFT,NaN
8,2010-06-30,55676000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,NaN
9,2010-06-30,55676000000,0001193125-11-015947,2011.0,Q2,10-Q,2011-01-27,MSFT,NaN
10,2010-06-30,55676000000,0001193125-11-115186,2011.0,Q3,10-Q,2011-04-28,MSFT,NaN
...,...,...,...,...,...,...,...,...,...
46404,2023-06-30,4053000000,0001564708-23-000368,2023.0,FY,10-K,2023-08-15,NWS,NaN
46405,2023-06-30,4053000000,0001564708-23-000547,2024.0,Q1,10-Q,2023-11-09,NWS,NaN
46406,2023-06-30,4053000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NWS,CY2023Q2I
46407,2023-09-30,3969000000,0001564708-23-000547,2024.0,Q1,10-Q,2023-11-09,NWS,CY2023Q3I
46408,2023-12-31,4003000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NWS,CY2023Q4I

In [80]:
import requests
import pandas as pd

def fetch_data(ticker_cik_dict):
    
    base_url = "https://data.sec.gov/api/xbrl/companyfacts/CIK{}.json"
    
    data = []

    headers = {
        'User-Agent': 'email@address.com'
    }

    for ticker, cik in ticker_cik_dict.items():
        cik = str(cik).zfill(10)
        url = base_url.format(cik)
        response = requests.get(url, headers=headers)
        if response.status_code == 200:
            json_data = response.json()
            # Check if 'Liabilities' key is present in the JSON data
            if 'Liabilities' in json_data['facts']['us-gaap']:
                # Extracting all values under the "units" key from the "Liabilities" section
                liabilities_data = json_data['facts']['us-gaap']['Liabilities']['units']['USD']
                # Appending all values with corresponding ticker to the data list
                for liability in liabilities_data:
                    liability['Ticker'] = ticker
                data.extend(liabilities_data)
            else:
                print(f"Liabilities data not found for ticker: {ticker}")
        else:
            print(f"Failed to fetch data for ticker: {ticker}")

    return data

# Create ticker_cik_dict dynamically from companyData_filtered DataFrame
ticker_cik_dict = dict(zip(companyData_filtered['ticker'], companyData_filtered['cik_str']))

data = fetch_data(ticker_cik_dict)

df_liab = pd.DataFrame(data)

df_liab['end'] = pd.to_datetime(df_liab['end'])

df_liab = df_liab[(df_liab['end'] >= '2010-01-01') & (df_liab['end'] <= '2023-12-31')]

df_liab

Liabilities data not found for ticker: AMZN
Liabilities data not found for ticker: LLY
Liabilities data not found for ticker: WMT
Liabilities data not found for ticker: MRK
Liabilities data not found for ticker: ORCL
Liabilities data not found for ticker: ABBV
Liabilities data not found for ticker: KO
Liabilities data not found for ticker: AMD
Liabilities data not found for ticker: TMO
Liabilities data not found for ticker: DIS
Liabilities data not found for ticker: MCD
Liabilities data not found for ticker: ACN
Liabilities data not found for ticker: ABT
Liabilities data not found for ticker: VZ
Liabilities data not found for ticker: CMCSA
Liabilities data not found for ticker: AMGN
Liabilities data not found for ticker: NKE
Liabilities data not found for ticker: INTC
Liabilities data not found for ticker: ETN
Liabilities data not found for ticker: UPS
Liabilities data not found for ticker: HON
Liabilities data not found for ticker: TJX
Liabilities data not found for ticker: BSX
Liabilities data not found for ticker: ADI
Liabilities data not found for ticker: MMC
Liabilities data not found for ticker: GILD
Liabilities data not found for ticker: GD
Liabilities data not found for ticker: EOG
Liabilities data not found for ticker: SHW
Liabilities data not found for ticker: DUK
Liabilities data not found for ticker: CDNS
Liabilities data not found for ticker: TGT
Liabilities data not found for ticker: ITW
Liabilities data not found for ticker: MCK
Liabilities data not found for ticker: MAR
Liabilities data not found for ticker: BDX
Liabilities data not found for ticker: CTAS
Liabilities data not found for ticker: FDX
Liabilities data not found for ticker: EMR
Liabilities data not found for ticker: RSG
Liabilities data not found for ticker: ORLY
Liabilities data not found for ticker: OXY
Liabilities data not found for ticker: MSI
Liabilities data not found for ticker: MNST
Liabilities data not found for ticker: PCAR
Liabilities data not found for ticker: VLO
Liabilities data not found for ticker: AZO
Liabilities data not found for ticker: MCHP
Liabilities data not found for ticker: COR
Liabilities data not found for ticker: WMB
Liabilities data not found for ticker: OKE
Liabilities data not found for ticker: KMB
Liabilities data not found for ticker: ADSK
Liabilities data not found for ticker: SRE
Liabilities data not found for ticker: GWW
Liabilities data not found for ticker: PCG
Liabilities data not found for ticker: ROST
Liabilities data not found for ticker: DOW
Liabilities data not found for ticker: FAST
Liabilities data not found for ticker: CTVA
Liabilities data not found for ticker: SYY
Liabilities data not found for ticker: CHTR
Liabilities data not found for ticker: PEG
Liabilities data not found for ticker: DVN
Liabilities data not found for ticker: LYB
Liabilities data not found for ticker: DAL
Liabilities data not found for ticker: ED
Liabilities data not found for ticker: ROK
Liabilities data not found for ticker: DG
Liabilities data not found for ticker: XEL
Liabilities data not found for ticker: ADM
Liabilities data not found for ticker: ANSS
Liabilities data not found for ticker: GRMN
Liabilities data not found for ticker: HPQ
Liabilities data not found for ticker: FTV
Liabilities data not found for ticker: WEC
Liabilities data not found for ticker: TRGP
Liabilities data not found for ticker: CAH
Liabilities data not found for ticker: AWK
Liabilities data not found for ticker: VLTO
Liabilities data not found for ticker: DTE
Liabilities data not found for ticker: IRM
Liabilities data not found for ticker: ETR
Liabilities data not found for ticker: GPC
Liabilities data not found for ticker: IFF
Liabilities data not found for ticker: TSN
Liabilities data not found for ticker: CPAY
Liabilities data not found for ticker: ES
Liabilities data not found for ticker: DECK
Liabilities data not found for ticker: LYV
Liabilities data not found for ticker: SBAC
Liabilities data not found for ticker: PPL
Liabilities data not found for ticker: AEE
Liabilities data not found for ticker: K
Liabilities data not found for ticker: ILMN
Liabilities data not found for ticker: CCL
Liabilities data not found for ticker: HRL
Liabilities data not found for ticker: CNP
Liabilities data not found for ticker: OMC
Liabilities data not found for ticker: CMS
Liabilities data not found for ticker: J
Liabilities data not found for ticker: ATO
Liabilities data not found for ticker: EXPE
Liabilities data not found for ticker: AVY
Liabilities data not found for ticker: CE
Liabilities data not found for ticker: UAL
Liabilities data not found for ticker: BBY
Liabilities data not found for ticker: EXPD
Liabilities data not found for ticker: LUV
Liabilities data not found for ticker: PKG
Liabilities data not found for ticker: DGX
Liabilities data not found for ticker: NDSN
Liabilities data not found for ticker: CF
Liabilities data not found for ticker: BG
Liabilities data not found for ticker: ALB
Liabilities data not found for ticker: FOXA
Liabilities data not found for ticker: SWK
Liabilities data not found for ticker: NWSA
Liabilities data not found for ticker: LNT
Liabilities data not found for ticker: AES
Liabilities data not found for ticker: NI
Liabilities data not found for ticker: WRK
Liabilities data not found for ticker: IP
Liabilities data not found for ticker: EVRG
Liabilities data not found for ticker: APA
Liabilities data not found for ticker: LKQ
Liabilities data not found for ticker: UHS
Failed to fetch data for ticker: SOLV
Liabilities data not found for ticker: BBWI
Liabilities data not found for ticker: MOS
Liabilities data not found for ticker: TECH
Liabilities data not found for ticker: AAL
Liabilities data not found for ticker: PNW
Liabilities data not found for ticker: MTCH
Liabilities data not found for ticker: PARA
Liabilities data not found for ticker: FMC
Liabilities data not found for ticker: FOX
Liabilities data not found for ticker: NWS

,end,val,accn,fy,fp,form,filed,Ticker,frame
0,2010-06-30,39938000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,NaN
1,2010-06-30,39938000000,0001193125-11-015947,2011.0,Q2,10-Q,2011-01-27,MSFT,NaN
2,2010-06-30,39938000000,0001193125-11-115186,2011.0,Q3,10-Q,2011-04-28,MSFT,NaN
3,2010-06-30,39938000000,0001193125-11-200680,2011.0,FY,10-K,2011-07-28,MSFT,CY2010Q2I
4,2010-09-30,44598000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,CY2010Q3I
...,...,...,...,...,...,...,...,...,...
37133,2023-03-31,4961725000,0000950170-23-015283,2023.0,Q1,10-Q,2023-04-27,MAA,CY2023Q1I
37134,2023-06-30,5020107000,0000950170-23-035158,2023.0,Q2,10-Q,2023-07-27,MAA,CY2023Q2I
37135,2023-09-30,5060700000,0000950170-23-055620,2023.0,Q3,10-Q,2023-10-26,MAA,CY2023Q3I
37136,2023-12-31,5185381000,0000950170-24-013275,2023.0,FY,10-K,2024-02-09,MAA,NaN
37137,2023-12-31,5185381000,0000950170-24-052131,2024.0,Q1,10-Q,2024-05-02,MAA,CY2023Q4I

In [81]:
import requests
import pandas as pd

def fetch_data(ticker_cik_dict):
    
    base_url = "https://data.sec.gov/api/xbrl/companyfacts/CIK{}.json"
    
    data = []

    headers = {
        'User-Agent': 'email@address.com'
    }

    for ticker, cik in ticker_cik_dict.items():
        cik = str(cik).zfill(10)
        url = base_url.format(cik)
        response = requests.get(url, headers=headers)
        if response.status_code == 200:
            json_data = response.json()
            # Check if 'LiabilitiesCurrent' key is present in the JSON data
            if 'LiabilitiesCurrent' in json_data['facts']['us-gaap']:
                # Extracting all values under the "units" key from the "LiabilitiesCurrent" section
                liabilities_data = json_data['facts']['us-gaap']['LiabilitiesCurrent']['units']['USD']
                # Appending all values with corresponding ticker to the data list
                for liability in liabilities_data:
                    liability['Ticker'] = ticker
                data.extend(liabilities_data)
            else:
                print(f"LiabilitiesCurrent data not found for ticker: {ticker}")
        else:
            print(f"Failed to fetch data for ticker: {ticker}")

    return data

# Create ticker_cik_dict dynamically from companyData_filtered DataFrame
ticker_cik_dict = dict(zip(companyData_filtered['ticker'], companyData_filtered['cik_str']))

data = fetch_data(ticker_cik_dict)

df_liabcurr = pd.DataFrame(data)

df_liabcurr['end'] = pd.to_datetime(df_liabcurr['end'])

df_liabcurr = df_liabcurr[(df_liabcurr['end'] >= '2010-01-01') & (df_liabcurr['end'] <= '2023-12-31')]

df_liabcurr

LiabilitiesCurrent data not found for ticker: JPM
LiabilitiesCurrent data not found for ticker: BAC
LiabilitiesCurrent data not found for ticker: WFC
LiabilitiesCurrent data not found for ticker: AXP
LiabilitiesCurrent data not found for ticker: MS
LiabilitiesCurrent data not found for ticker: BX
LiabilitiesCurrent data not found for ticker: GS
LiabilitiesCurrent data not found for ticker: SCHW
LiabilitiesCurrent data not found for ticker: PGR
LiabilitiesCurrent data not found for ticker: C
LiabilitiesCurrent data not found for ticker: BLK
LiabilitiesCurrent data not found for ticker: DE
LiabilitiesCurrent data not found for ticker: CB
LiabilitiesCurrent data not found for ticker: PLD
LiabilitiesCurrent data not found for ticker: USB
LiabilitiesCurrent data not found for ticker: PNC
LiabilitiesCurrent data not found for ticker: WELL
LiabilitiesCurrent data not found for ticker: COF
LiabilitiesCurrent data not found for ticker: PCAR
LiabilitiesCurrent data not found for ticker: SPG
LiabilitiesCurrent data not found for ticker: MET
LiabilitiesCurrent data not found for ticker: AIG
LiabilitiesCurrent data not found for ticker: TFC
LiabilitiesCurrent data not found for ticker: TRV
LiabilitiesCurrent data not found for ticker: AFL
LiabilitiesCurrent data not found for ticker: DHI
LiabilitiesCurrent data not found for ticker: O
LiabilitiesCurrent data not found for ticker: PSA
LiabilitiesCurrent data not found for ticker: ALL
LiabilitiesCurrent data not found for ticker: DLR
LiabilitiesCurrent data not found for ticker: BK
LiabilitiesCurrent data not found for ticker: LEN
LiabilitiesCurrent data not found for ticker: AMP
LiabilitiesCurrent data not found for ticker: PRU
LiabilitiesCurrent data not found for ticker: ACGL
LiabilitiesCurrent data not found for ticker: DFS
LiabilitiesCurrent data not found for ticker: VICI
LiabilitiesCurrent data not found for ticker: EXR
LiabilitiesCurrent data not found for ticker: HIG
LiabilitiesCurrent data not found for ticker: AVB
LiabilitiesCurrent data not found for ticker: RJF
LiabilitiesCurrent data not found for ticker: FITB
LiabilitiesCurrent data not found for ticker: EQR
LiabilitiesCurrent data not found for ticker: TROW
LiabilitiesCurrent data not found for ticker: MTB
LiabilitiesCurrent data not found for ticker: PHM
LiabilitiesCurrent data not found for ticker: NVR
LiabilitiesCurrent data not found for ticker: STT
LiabilitiesCurrent data not found for ticker: INVH
LiabilitiesCurrent data not found for ticker: WRB
LiabilitiesCurrent data not found for ticker: ARE
LiabilitiesCurrent data not found for ticker: HBAN
LiabilitiesCurrent data not found for ticker: PFG
LiabilitiesCurrent data not found for ticker: CINF
LiabilitiesCurrent data not found for ticker: VTR
LiabilitiesCurrent data not found for ticker: RF
LiabilitiesCurrent data not found for ticker: SYF
LiabilitiesCurrent data not found for ticker: NTRS
LiabilitiesCurrent data not found for ticker: L
LiabilitiesCurrent data not found for ticker: ESS
LiabilitiesCurrent data not found for ticker: TXT
LiabilitiesCurrent data not found for ticker: EG
LiabilitiesCurrent data not found for ticker: CFG
LiabilitiesCurrent data not found for ticker: KEY
LiabilitiesCurrent data not found for ticker: UDR
LiabilitiesCurrent data not found for ticker: HST
LiabilitiesCurrent data not found for ticker: DOC
LiabilitiesCurrent data not found for ticker: KIM
Failed to fetch data for ticker: SOLV
LiabilitiesCurrent data not found for ticker: REG
LiabilitiesCurrent data not found for ticker: CPT
LiabilitiesCurrent data not found for ticker: BXP
LiabilitiesCurrent data not found for ticker: AIZ
LiabilitiesCurrent data not found for ticker: FRT
LiabilitiesCurrent data not found for ticker: MKTX
LiabilitiesCurrent data not found for ticker: GL
LiabilitiesCurrent data not found for ticker: CMA
LiabilitiesCurrent data not found for ticker: MAA

,end,val,accn,fy,fp,form,filed,Ticker,frame
6,2010-03-31,26424000000,0001193125-10-090116,2010.0,Q3,10-Q,2010-04-22,MSFT,CY2010Q1I
7,2010-06-30,26147000000,0001193125-10-171791,2010.0,FY,10-K,2010-07-30,MSFT,NaN
8,2010-06-30,26147000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,NaN
9,2010-06-30,26147000000,0001193125-11-015947,2011.0,Q2,10-Q,2011-01-27,MSFT,NaN
10,2010-06-30,26147000000,0001193125-11-115186,2011.0,Q3,10-Q,2011-04-28,MSFT,NaN
...,...,...,...,...,...,...,...,...,...
46346,2023-06-30,3165000000,0001564708-23-000368,2023.0,FY,10-K,2023-08-15,NWS,NaN
46347,2023-06-30,3165000000,0001564708-23-000547,2024.0,Q1,10-Q,2023-11-09,NWS,NaN
46348,2023-06-30,3165000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NWS,CY2023Q2I
46349,2023-09-30,3037000000,0001564708-23-000547,2024.0,Q1,10-Q,2023-11-09,NWS,CY2023Q3I
46350,2023-12-31,2784000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NWS,CY2023Q4I

In [82]:
import requests
import pandas as pd

def fetch_data(ticker_cik_dict):
    
    base_url = "https://data.sec.gov/api/xbrl/companyfacts/CIK{}.json"
    
    data = []

    headers = {
        'User-Agent': 'email@address.com'
    }

    for ticker, cik in ticker_cik_dict.items():
        cik = str(cik).zfill(10)
        url = base_url.format(cik)
        response = requests.get(url, headers=headers)
        if response.status_code == 200:
            json_data = response.json()
            # Check if 'Revenues' key is present in the JSON data
            if 'Revenues' in json_data['facts']['us-gaap']:
                # Extracting all values under the "units" key from the "Revenues" section
                revenues_data = json_data['facts']['us-gaap']['Revenues']['units']['USD']
                # Appending all values with corresponding ticker to the data list
                for revenue in revenues_data:
                    revenue['Ticker'] = ticker
                data.extend(revenues_data)
            else:
                print(f"Revenues data not found for ticker: {ticker}")
        else:
            print(f"Failed to fetch data for ticker: {ticker}")

    return data

# Create ticker_cik_dict dynamically from companyData_filtered DataFrame
ticker_cik_dict = dict(zip(companyData_filtered['ticker'], companyData_filtered['cik_str']))

data = fetch_data(ticker_cik_dict)

df_salesrev = pd.DataFrame(data)

df_salesrev['start'] = pd.to_datetime(df_salesrev['start'])

df_salesrev = df_salesrev[(df_salesrev['start'] >= '2010-01-01') & (df_salesrev['start'] <= '2023-12-31')]

df_salesrev

Revenues data not found for ticker: AMZN
Revenues data not found for ticker: LIN
Revenues data not found for ticker: ABT
Revenues data not found for ticker: TXN
Revenues data not found for ticker: PM
Revenues data not found for ticker: NKE
Revenues data not found for ticker: GS
Revenues data not found for ticker: ISRG
Revenues data not found for ticker: LOW
Revenues data not found for ticker: INTC
Revenues data not found for ticker: MDT
Revenues data not found for ticker: ABNB
Revenues data not found for ticker: MMC
Revenues data not found for ticker: ANET
Revenues data not found for ticker: MO
Revenues data not found for ticker: CDNS
Revenues data not found for ticker: NXPI
Revenues data not found for ticker: ECL
Revenues data not found for ticker: PSX
Revenues data not found for ticker: ORLY
Revenues data not found for ticker: MNST
Revenues data not found for ticker: CARR
Revenues data not found for ticker: ROP
Revenues data not found for ticker: VLO
Revenues data not found for ticker: EL
Revenues data not found for ticker: EW
Revenues data not found for ticker: TFC
Revenues data not found for ticker: FTNT
Revenues data not found for ticker: STZ
Revenues data not found for ticker: ADSK
Revenues data not found for ticker: KDP
Revenues data not found for ticker: LULU
Revenues data not found for ticker: TEL
Revenues data not found for ticker: ROST
Revenues data not found for ticker: GEV
Revenues data not found for ticker: IDXX
Revenues data not found for ticker: AME
Revenues data not found for ticker: KR
Revenues data not found for ticker: ODFL
Revenues data not found for ticker: FAST
Revenues data not found for ticker: FIS
Revenues data not found for ticker: PWR
Revenues data not found for ticker: SYY
Revenues data not found for ticker: MLM
Revenues data not found for ticker: KVUE
Revenues data not found for ticker: GEHC
Revenues data not found for ticker: BKR
Revenues data not found for ticker: DFS
Revenues data not found for ticker: DG
Revenues data not found for ticker: GRMN
Revenues data not found for ticker: EFX
Revenues data not found for ticker: CHD
Revenues data not found for ticker: FITB
Revenues data not found for ticker: ZBH
Revenues data not found for ticker: TTWO
Revenues data not found for ticker: AXON
Revenues data not found for ticker: VLTO
Revenues data not found for ticker: WDC
Revenues data not found for ticker: BLDR
Revenues data not found for ticker: BALL
Revenues data not found for ticker: GPC
Revenues data not found for ticker: PTC
Revenues data not found for ticker: DECK
Revenues data not found for ticker: BAX
Revenues data not found for ticker: ARE
Revenues data not found for ticker: HUBB
Revenues data not found for ticker: ILMN
Revenues data not found for ticker: HBAN
Revenues data not found for ticker: HRL
Revenues data not found for ticker: DRI
Revenues data not found for ticker: WAT
Revenues data not found for ticker: EXPE
Revenues data not found for ticker: RF
Revenues data not found for ticker: SYF
Revenues data not found for ticker: CE
Revenues data not found for ticker: ZBRA
Revenues data not found for ticker: PKG
Revenues data not found for ticker: DGX
Revenues data not found for ticker: MAS
Revenues data not found for ticker: ENPH
Revenues data not found for ticker: AOS
Revenues data not found for ticker: IP
Revenues data not found for ticker: SJM
Revenues data not found for ticker: APA
Revenues data not found for ticker: UHS
Revenues data not found for ticker: JNPR
Failed to fetch data for ticker: SOLV
Revenues data not found for ticker: CPT
Revenues data not found for ticker: BBWI
Revenues data not found for ticker: TECH
Revenues data not found for ticker: FFIV
Revenues data not found for ticker: TFX
Revenues data not found for ticker: AAL
Revenues data not found for ticker: GNRC
Revenues data not found for ticker: BIO
Revenues data not found for ticker: RHI
Revenues data not found for ticker: CMA

,start,end,val,accn,fy,fp,form,filed,frame,Ticker
24,2010-01-01,2010-03-31,14503000000,0001193125-10-171791,2010.0,FY,10-K,2010-07-30,CY2010Q1,MSFT
25,2010-01-01,2010-03-31,14503000000,0001193125-10-090116,2010.0,Q3,10-Q,2010-04-22,NaN,MSFT
27,2010-04-01,2010-06-30,16039000000,0001193125-10-171791,2010.0,FY,10-K,2010-07-30,CY2010Q2,MSFT
28,2010-07-01,2010-09-30,16195000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,CY2010Q3,MSFT
29,2010-07-01,2010-12-31,36148000000,0001193125-11-015947,2011.0,Q2,10-Q,2011-01-27,NaN,MSFT
...,...,...,...,...,...,...,...,...,...,...
56246,2022-10-01,2022-12-31,2521000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,CY2022Q4,NWS
56247,2022-07-01,2023-06-30,9879000000,0001564708-23-000368,2023.0,FY,10-K,2023-08-15,CY2023,NWS
56248,2023-07-01,2023-09-30,2499000000,0001564708-23-000547,2024.0,Q1,10-Q,2023-11-09,CY2023Q3,NWS
56249,2023-07-01,2023-12-31,5085000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NaN,NWS
56250,2023-10-01,2023-12-31,2586000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,CY2023Q4,NWS

In [83]:
import requests
import pandas as pd

def fetch_data(ticker_cik_dict):
    
    base_url = "https://data.sec.gov/api/xbrl/companyfacts/CIK{}.json"
    
    data = []

    headers = {
        'User-Agent': 'email@address.com'
    }

    for ticker, cik in ticker_cik_dict.items():
        cik = str(cik).zfill(10)
        url = base_url.format(cik)
        response = requests.get(url, headers=headers)
        if response.status_code == 200:
            json_data = response.json()
            # Check if 'NetIncomeLoss' key is present in the JSON data
            if 'NetIncomeLoss' in json_data['facts']['us-gaap']:
                # Extracting all values under the "units" key from the "NetIncomeLoss" section
                net_income_data = json_data['facts']['us-gaap']['NetIncomeLoss']['units']['USD']
                # Appending all values with corresponding ticker to the data list
                for income in net_income_data:
                    income['Ticker'] = ticker
                data.extend(net_income_data)
            else:
                print(f"Net income data not found for ticker: {ticker}")
        else:
            print(f"Failed to fetch data for ticker: {ticker}")

    return data

# Create ticker_cik_dict dynamically from companyData_filtered DataFrame
ticker_cik_dict = dict(zip(companyData_filtered['ticker'], companyData_filtered['cik_str']))

data = fetch_data(ticker_cik_dict)

df_netinc = pd.DataFrame(data)

df_netinc['start'] = pd.to_datetime(df_netinc['start'])

df_netinc = df_netinc[(df_netinc['start'] >= '2010-01-01') & (df_netinc['start'] <= '2023-12-31')]

df_netinc

Net income data not found for ticker: CI
Net income data not found for ticker: ITW
Net income data not found for ticker: MNST
Net income data not found for ticker: SPG
Net income data not found for ticker: WAT
Net income data not found for ticker: FOXA
Net income data not found for ticker: APA
Failed to fetch data for ticker: SOLV
Net income data not found for ticker: CMA
Net income data not found for ticker: FOX

,start,end,val,accn,fy,fp,form,filed,frame,Ticker
28,2010-01-01,2010-03-31,4006000000,0001193125-10-090116,2010.0,Q3,10-Q,2010-04-22,NaN,MSFT
29,2010-01-01,2010-03-31,4006000000,0001193125-10-171791,2010.0,FY,10-K,2010-07-30,NaN,MSFT
30,2010-01-01,2010-03-31,4006000000,0001193125-11-115186,2011.0,Q3,10-Q,2011-04-28,NaN,MSFT
31,2010-01-01,2010-03-31,4006000000,0001193125-11-200680,2011.0,FY,10-K,2011-07-28,CY2010Q1,MSFT
35,2010-04-01,2010-06-30,4518000000,0001193125-10-171791,2010.0,FY,10-K,2010-07-30,NaN,MSFT
...,...,...,...,...,...,...,...,...,...,...
107200,2023-01-01,2023-03-31,50000000,0001564708-23-000190,2023.0,Q3,10-Q,2023-05-12,CY2023Q1,NWS
107201,2022-07-01,2023-06-30,149000000,0001564708-23-000368,2023.0,FY,10-K,2023-08-15,CY2023,NWS
107202,2023-07-01,2023-09-30,30000000,0001564708-23-000547,2024.0,Q1,10-Q,2023-11-09,CY2023Q3,NWS
107203,2023-07-01,2023-12-31,186000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NaN,NWS
107204,2023-10-01,2023-12-31,156000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,CY2023Q4,NWS

In [85]:
import requests
import pandas as pd

def fetch_data(ticker_cik_dict):
    
    base_url = "https://data.sec.gov/api/xbrl/companyfacts/CIK{}.json"
    
    data = []

    headers = {
        'User-Agent': 'email@address.com'
    }

    for ticker, cik in ticker_cik_dict.items():
        cik = str(cik).zfill(10)
        url = base_url.format(cik)
        response = requests.get(url, headers=headers)
        if response.status_code == 200:
            json_data = response.json()
            # Check if 'EarningsPerShareBasic' key is present in the JSON data
            if 'EarningsPerShareBasic' in json_data['facts']['us-gaap']:
                # Extracting all values under the "units" key from the "EarningsPerShareBasic" section
                earnings_data = json_data['facts']['us-gaap']['EarningsPerShareBasic']['units']['USD/shares']
                # Appending all values with corresponding ticker to the data list
                for earnings in earnings_data:
                    earnings['Ticker'] = ticker
                data.extend(earnings_data)
            else:
                print(f"Earnings per share basic data not found for ticker: {ticker}")
        else:
            print(f"Failed to fetch data for ticker: {ticker}")

    return data

# Create ticker_cik_dict dynamically from companyData_filtered DataFrame
ticker_cik_dict = dict(zip(companyData_filtered['ticker'], companyData_filtered['cik_str']))

data = fetch_data(ticker_cik_dict)

df_eps_basic = pd.DataFrame(data)

df_eps_basic['start'] = pd.to_datetime(df_eps_basic['start'])

df_eps_basic = df_eps_basic[(df_eps_basic['start'] >= '2010-01-01') & (df_eps_basic['start'] <= '2023-12-31')]

df_eps_basic

Earnings per share basic data not found for ticker: V
Earnings per share basic data not found for ticker: ABNB
Earnings per share basic data not found for ticker: STZ
Earnings per share basic data not found for ticker: GEV
Earnings per share basic data not found for ticker: TSN
Failed to fetch data for ticker: SOLV

,start,end,val,accn,fy,fp,form,filed,frame,Ticker
28,2010-01-01,2010-03-31,0.46,0001193125-10-090116,2010.0,Q3,10-Q,2010-04-22,NaN,MSFT
29,2010-01-01,2010-03-31,0.46,0001193125-10-171791,2010.0,FY,10-K,2010-07-30,NaN,MSFT
30,2010-01-01,2010-03-31,0.46,0001193125-11-115186,2011.0,Q3,10-Q,2011-04-28,NaN,MSFT
31,2010-01-01,2010-03-31,0.46,0001193125-11-200680,2011.0,FY,10-K,2011-07-28,CY2010Q1,MSFT
35,2010-04-01,2010-06-30,0.52,0001193125-10-171791,2010.0,FY,10-K,2010-07-30,NaN,MSFT
...,...,...,...,...,...,...,...,...,...,...
112142,2023-01-01,2023-03-31,0.09,0001564708-23-000190,2023.0,Q3,10-Q,2023-05-12,CY2023Q1,NWS
112143,2022-07-01,2023-06-30,0.26,0001564708-23-000368,2023.0,FY,10-K,2023-08-15,CY2023,NWS
112144,2023-07-01,2023-09-30,0.05,0001564708-23-000547,2024.0,Q1,10-Q,2023-11-09,CY2023Q3,NWS
112145,2023-07-01,2023-12-31,0.33,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NaN,NWS
112146,2023-10-01,2023-12-31,0.27,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,CY2023Q4,NWS

In [111]:
import requests
import pandas as pd

def fetch_data(ticker_cik_dict):
    base_url = "https://data.sec.gov/api/xbrl/companyfacts/CIK{}.json"
    data = []
    headers = {'User-Agent': 'email@address.com'}
    for ticker, cik in ticker_cik_dict.items():
        cik = str(cik).zfill(10)
        url = base_url.format(cik)
        response = requests.get(url, headers=headers)
        if response.status_code == 200:
            json_data = response.json()
            if 'CommonStockValue' in json_data['facts']['us-gaap']:
                share_based_comp_data = json_data['facts']['us-gaap']['CommonStockValue']['units']['USD']
                for entry in share_based_comp_data:
                    entry['Ticker'] = ticker
                data.extend(share_based_comp_data)
            else:
                print(f"Data not found for ticker: {ticker}")
        else:
            print(f"Failed to fetch data for ticker: {ticker}")
    return data

# Create ticker_cik_dict dynamically from companyData_filtered DataFrame
ticker_cik_dict = dict(zip(companyData_filtered['ticker'], companyData_filtered['cik_str']))

# Use ticker_cik_dict from the previous code
data = fetch_data(ticker_cik_dict)

# Create DataFrame
df_share_based_comp = pd.DataFrame(data)

# Convert 'end' column to datetime
df_share_based_comp['end'] = pd.to_datetime(df_share_based_comp['end'])

# Filter data for the specified date range
df_share_based_comp = df_share_based_comp[(df_share_based_comp['end'] >= '2010-01-01') & (df_share_based_comp['end'] <= '2023-12-31')]

# Display DataFrame
df_share_based_comp

Data not found for ticker: MSFT
Data not found for ticker: V
Data not found for ticker: MA
Data not found for ticker: BAC
Data not found for ticker: ABBV
Data not found for ticker: DIS
Data not found for ticker: CSCO
Data not found for ticker: ACN
Data not found for ticker: CAT
Data not found for ticker: IBM
Data not found for ticker: AMGN
Data not found for ticker: NKE
Data not found for ticker: RTX
Data not found for ticker: LOW
Data not found for ticker: INTC
Data not found for ticker: SYK
Data not found for ticker: ETN
Data not found for ticker: UPS
Data not found for ticker: PGR
Data not found for ticker: CME
Data not found for ticker: CDNS
Data not found for ticker: NSC
Data not found for ticker: DXCM
Data not found for ticker: SMCI
Data not found for ticker: O
Data not found for ticker: ADSK
Data not found for ticker: LEN
Data not found for ticker: GEV
Data not found for ticker: ODFL
Data not found for ticker: FANG
Data not found for ticker: ED
Data not found for ticker: RMD
Data not found for ticker: FICO
Data not found for ticker: TRGP
Data not found for ticker: HPE
Data not found for ticker: TSN
Data not found for ticker: INVH
Data not found for ticker: MKC
Data not found for ticker: MOH
Data not found for ticker: DRI
Data not found for ticker: FOXA
Data not found for ticker: NWSA
Data not found for ticker: PNR
Data not found for ticker: TAP
Data not found for ticker: SJM
Data not found for ticker: UHS
Data not found for ticker: JNPR
Failed to fetch data for ticker: SOLV
Data not found for ticker: HII
Data not found for ticker: RL
Data not found for ticker: HSIC
Data not found for ticker: MAA
Data not found for ticker: FOX
Data not found for ticker: NWS

,end,val,accn,fy,fp,form,filed,frame,Ticker
11,2010-03-27,9.553000e+09,0001193125-10-088957,2010.0,Q2,10-Q,2010-04-21,CY2010Q1I,AAPL
12,2010-06-26,1.013300e+10,0001193125-10-162840,2010.0,Q3,10-Q,2010-07-21,CY2010Q2I,AAPL
13,2010-09-25,1.066800e+10,0001193125-11-282113,2011.0,FY,10-K,2011-10-26,CY2010Q3I,AAPL
14,2010-09-25,1.066800e+10,0001193125-11-192493,2011.0,Q3,10-Q,2011-07-20,NaN,AAPL
15,2010-09-25,1.066800e+10,0001193125-11-104388,2011.0,Q2,10-Q,2011-04-21,NaN,AAPL
...,...,...,...,...,...,...,...,...,...
44042,2023-12-31,1.132000e+08,0000914208-24-000276,2024.0,Q1,10-Q,2024-05-01,CY2023Q4I,IVZ
44044,2014-12-31,6.800000e+05,0001652044-16-000022,2015.0,FY,8-K,2016-05-03,CY2014Q4I,GOOG
44045,2014-12-31,6.800000e+05,0001652044-16-000012,2015.0,FY,10-K,2016-02-11,NaN,GOOG
44046,2015-12-31,6.870000e+05,0001652044-16-000022,2015.0,FY,8-K,2016-05-03,CY2015Q4I,GOOG
44047,2015-12-31,6.870000e+05,0001652044-16-000012,2015.0,FY,10-K,2016-02-11,NaN,GOOG

In [100]:
merged_prof = pd.merge(df_assets, df_netinc, on=['accn','Ticker','fp','fy'], suffixes=('_assets', '_net_income'))

merged_prof['Profitability'] = merged_prof['val_net_income'] / merged_prof['val_assets']

merged_prof

,end_assets,val_assets,accn,fy,fp,form_assets,filed_assets,Ticker,frame_assets,start,end_net_income,val_net_income,form_net_income,filed_net_income,frame_net_income,Profitability
0,2010-03-31,84910000000,0001193125-10-090116,2010.0,Q3,10-Q,2010-04-22,MSFT,CY2010Q1I,2010-01-01,2010-03-31,4006000000,10-Q,2010-04-22,NaN,0.047179
1,2010-06-30,86113000000,0001193125-10-171791,2010.0,FY,10-K,2010-07-30,MSFT,NaN,2010-01-01,2010-03-31,4006000000,10-K,2010-07-30,NaN,0.046520
2,2010-06-30,86113000000,0001193125-10-171791,2010.0,FY,10-K,2010-07-30,MSFT,NaN,2010-04-01,2010-06-30,4518000000,10-K,2010-07-30,NaN,0.052466
3,2010-06-30,86113000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,NaN,2010-07-01,2010-09-30,5410000000,10-Q,2010-10-28,NaN,0.062824
4,2010-09-30,91540000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,CY2010Q3I,2010-07-01,2010-09-30,5410000000,10-Q,2010-10-28,NaN,0.059100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218183,2023-06-30,16921000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NWS,CY2023Q2I,2023-10-01,2023-12-31,156000000,10-Q,2024-02-08,CY2023Q4,0.009219
218184,2023-12-31,16681000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NWS,CY2023Q4I,2022-07-01,2022-12-31,107000000,10-Q,2024-02-08,NaN,0.006414
218185,2023-12-31,16681000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NWS,CY2023Q4I,2022-10-01,2022-12-31,67000000,10-Q,2024-02-08,CY2022Q4,0.004017
218186,2023-12-31,16681000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NWS,CY2023Q4I,2023-07-01,2023-12-31,186000000,10-Q,2024-02-08,NaN,0.011150
218187,2023-12-31,16681000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NWS,CY2023Q4I,2023-10-01,2023-12-31,156000000,10-Q,2024-02-08,CY2023Q4,0.009352

In [101]:
merged_liq = pd.merge(df_currass, df_liabcurr, on=['accn','Ticker','fp','fy'], suffixes=('_currass', '_currliab'))

merged_liq['Liquidity'] = merged_liq['val_currass'] / merged_liq['val_currliab']

merged_liq

,end_currass,val_currass,accn,fy,fp,form_currass,filed_currass,Ticker,frame_currass,end_currliab,val_currliab,form_currliab,filed_currliab,frame_currliab,Liquidity
0,2010-03-31,54518000000,0001193125-10-090116,2010.0,Q3,10-Q,2010-04-22,MSFT,CY2010Q1I,2010-03-31,26424000000,10-Q,2010-04-22,CY2010Q1I,2.063200
1,2010-06-30,55676000000,0001193125-10-171791,2010.0,FY,10-K,2010-07-30,MSFT,NaN,2010-06-30,26147000000,10-K,2010-07-30,NaN,2.129346
2,2010-06-30,55676000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,NaN,2010-06-30,26147000000,10-Q,2010-10-28,NaN,2.129346
3,2010-06-30,55676000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,NaN,2010-09-30,25857000000,10-Q,2010-10-28,CY2010Q3I,2.153227
4,2010-09-30,59581000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,CY2010Q3I,2010-06-30,26147000000,10-Q,2010-10-28,NaN,2.278694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88551,2023-09-30,3969000000,0001564708-23-000547,2024.0,Q1,10-Q,2023-11-09,NWS,CY2023Q3I,2023-09-30,3037000000,10-Q,2023-11-09,CY2023Q3I,1.306882
88552,2023-06-30,4053000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NWS,CY2023Q2I,2023-06-30,3165000000,10-Q,2024-02-08,CY2023Q2I,1.280569
88553,2023-06-30,4053000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NWS,CY2023Q2I,2023-12-31,2784000000,10-Q,2024-02-08,CY2023Q4I,1.455819
88554,2023-12-31,4003000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NWS,CY2023Q4I,2023-06-30,3165000000,10-Q,2024-02-08,CY2023Q2I,1.264771
88555,2023-12-31,4003000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NWS,CY2023Q4I,2023-12-31,2784000000,10-Q,2024-02-08,CY2023Q4I,1.437859

In [102]:
merged_act = pd.merge(df_salesrev, df_assets, on=['accn','Ticker','fp','fy'], suffixes=('_salesrev', '_assets'))

merged_act['Activity'] = merged_act['val_salesrev'] / merged_act['val_assets']

merged_act

,start,end_salesrev,val_salesrev,accn,fy,fp,form_salesrev,filed_salesrev,frame_salesrev,Ticker,end_assets,val_assets,form_assets,filed_assets,frame_assets,Activity
0,2010-01-01,2010-03-31,14503000000,0001193125-10-171791,2010.0,FY,10-K,2010-07-30,CY2010Q1,MSFT,2010-06-30,86113000000,10-K,2010-07-30,NaN,0.168418
1,2010-04-01,2010-06-30,16039000000,0001193125-10-171791,2010.0,FY,10-K,2010-07-30,CY2010Q2,MSFT,2010-06-30,86113000000,10-K,2010-07-30,NaN,0.186255
2,2010-01-01,2010-03-31,14503000000,0001193125-10-090116,2010.0,Q3,10-Q,2010-04-22,NaN,MSFT,2010-03-31,84910000000,10-Q,2010-04-22,CY2010Q1I,0.170804
3,2010-07-01,2010-09-30,16195000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,CY2010Q3,MSFT,2010-06-30,86113000000,10-Q,2010-10-28,NaN,0.188067
4,2010-07-01,2010-09-30,16195000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,CY2010Q3,MSFT,2010-09-30,91540000000,10-Q,2010-10-28,CY2010Q3I,0.176917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113242,2022-10-01,2022-12-31,2521000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,CY2022Q4,NWS,2023-12-31,16681000000,10-Q,2024-02-08,CY2023Q4I,0.151130
113243,2023-07-01,2023-12-31,5085000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NaN,NWS,2023-06-30,16921000000,10-Q,2024-02-08,CY2023Q2I,0.300514
113244,2023-07-01,2023-12-31,5085000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,NaN,NWS,2023-12-31,16681000000,10-Q,2024-02-08,CY2023Q4I,0.304838
113245,2023-10-01,2023-12-31,2586000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,CY2023Q4,NWS,2023-06-30,16921000000,10-Q,2024-02-08,CY2023Q2I,0.152828
113246,2023-10-01,2023-12-31,2586000000,0001564708-24-000070,2024.0,Q2,10-Q,2024-02-08,CY2023Q4,NWS,2023-12-31,16681000000,10-Q,2024-02-08,CY2023Q4I,0.155027

In [103]:
merged_finlev = pd.merge(df_liab, df_assets, on=['accn','Ticker','fp','fy'], suffixes=('_liab', '_assets'))

merged_finlev['Fin_Leverage'] = merged_finlev['val_liab'] / merged_finlev['val_assets']

merged_finlev

,end_liab,val_liab,accn,fy,fp,form_liab,filed_liab,Ticker,frame_liab,end_assets,val_assets,form_assets,filed_assets,frame_assets,Fin_Leverage
0,2010-06-30,39938000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,NaN,2010-06-30,86113000000,10-Q,2010-10-28,NaN,0.463786
1,2010-06-30,39938000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,NaN,2010-09-30,91540000000,10-Q,2010-10-28,CY2010Q3I,0.436290
2,2010-09-30,44598000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,CY2010Q3I,2010-06-30,86113000000,10-Q,2010-10-28,NaN,0.517901
3,2010-09-30,44598000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,CY2010Q3I,2010-09-30,91540000000,10-Q,2010-10-28,CY2010Q3I,0.487197
4,2010-06-30,39938000000,0001193125-11-015947,2011.0,Q2,10-Q,2011-01-27,MSFT,NaN,2010-06-30,86113000000,10-Q,2011-01-27,NaN,0.463786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74061,2022-12-31,5030746000,0000950170-24-013275,2023.0,FY,10-K,2024-02-09,MAA,CY2022Q4I,2022-12-31,11241165000,10-K,2024-02-09,CY2022Q4I,0.447529
74062,2022-12-31,5030746000,0000950170-24-013275,2023.0,FY,10-K,2024-02-09,MAA,CY2022Q4I,2023-12-31,11484503000,10-K,2024-02-09,NaN,0.438046
74063,2023-12-31,5185381000,0000950170-24-013275,2023.0,FY,10-K,2024-02-09,MAA,NaN,2022-12-31,11241165000,10-K,2024-02-09,CY2022Q4I,0.461285
74064,2023-12-31,5185381000,0000950170-24-013275,2023.0,FY,10-K,2024-02-09,MAA,NaN,2023-12-31,11484503000,10-K,2024-02-09,NaN,0.451511
74065,2023-12-31,5185381000,0000950170-24-052131,2024.0,Q1,10-Q,2024-05-02,MAA,CY2023Q4I,2023-12-31,11484503000,10-Q,2024-05-02,CY2023Q4I,0.451511

In [129]:
merged_finlev.head()

,val_liab,accn,fy,fp,form_liab,filed_liab,Ticker,frame_liab,end_assets,val_assets,form_assets,filed_assets,frame_assets,Fin_Leverage
end_liab,,,,,,,,,,,,,,
2010-06-30,39938000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,NaN,2010-06-30,86113000000,10-Q,2010-10-28,NaN,0.463786
2010-06-30,39938000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,NaN,2010-09-30,91540000000,10-Q,2010-10-28,CY2010Q3I,0.436290
2010-09-30,44598000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,CY2010Q3I,2010-06-30,86113000000,10-Q,2010-10-28,NaN,0.517901
2010-09-30,44598000000,0001193125-10-239825,2011.0,Q1,10-Q,2010-10-28,MSFT,CY2010Q3I,2010-09-30,91540000000,10-Q,2010-10-28,CY2010Q3I,0.487197
2010-06-30,39938000000,0001193125-11-015947,2011.0,Q2,10-Q,2011-01-27,MSFT,NaN,2010-06-30,86113000000,10-Q,2011-01-27,NaN,0.463786

In [112]:
merged_payratio = pd.merge(df_share_based_comp, df_eps_basic, on=['accn','Ticker','fp','fy'], suffixes=('_sbc', '_eps'))

merged_payratio['Payout_ratio'] = merged_payratio['val_sbc'] / merged_payratio['val_eps']

merged_payratio

,end_sbc,val_sbc,accn,fy,fp,form_sbc,filed_sbc,frame_sbc,Ticker,start,end_eps,val_eps,form_eps,filed_eps,frame_eps,Payout_ratio
0,2010-06-26,1.013300e+10,0001193125-10-162840,2010.0,Q3,10-Q,2010-07-21,CY2010Q2I,AAPL,2010-03-28,2010-06-26,3.57,10-Q,2010-07-21,NaN,2.838375e+09
1,2010-09-25,1.066800e+10,0001193125-11-282113,2011.0,FY,10-K,2011-10-26,CY2010Q3I,AAPL,2010-03-28,2010-06-26,3.57,10-K,2011-10-26,CY2010Q2,2.988235e+09
2,2010-09-25,1.066800e+10,0001193125-11-282113,2011.0,FY,10-K,2011-10-26,CY2010Q3I,AAPL,2010-06-27,2010-09-25,4.71,10-K,2011-10-26,CY2010Q3,2.264968e+09
3,2010-09-25,1.066800e+10,0001193125-11-282113,2011.0,FY,10-K,2011-10-26,CY2010Q3I,AAPL,2010-09-26,2010-12-25,6.53,10-K,2011-10-26,NaN,1.633691e+09
4,2010-09-25,1.066800e+10,0001193125-11-282113,2011.0,FY,10-K,2011-10-26,CY2010Q3I,AAPL,2010-12-26,2011-03-26,6.49,10-K,2011-10-26,NaN,1.643760e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169323,2015-12-31,6.870000e+05,0001652044-16-000022,2015.0,FY,8-K,2016-05-03,CY2015Q4I,GOOG,2014-01-01,2014-12-31,20.91,8-K,2016-05-03,CY2014,3.285509e+04
169324,2014-12-31,6.800000e+05,0001652044-16-000012,2015.0,FY,10-K,2016-02-11,NaN,GOOG,2013-01-01,2013-12-31,19.13,10-K,2016-02-11,NaN,3.554626e+04
169325,2014-12-31,6.800000e+05,0001652044-16-000012,2015.0,FY,10-K,2016-02-11,NaN,GOOG,2014-01-01,2014-12-31,20.91,10-K,2016-02-11,NaN,3.252033e+04
169326,2015-12-31,6.870000e+05,0001652044-16-000012,2015.0,FY,10-K,2016-02-11,NaN,GOOG,2013-01-01,2013-12-31,19.13,10-K,2016-02-11,NaN,3.591218e+04
169327,2015-12-31,6.870000e+05,0001652044-16-000012,2015.0,FY,10-K,2016-02-11,NaN,GOOG,2014-01-01,2014-12-31,20.91,10-K,2016-02-11,NaN,3.285509e+04

In [116]:
temp_data = monthly_df.copy()
temp_data

,Symbol,year,month,Date,Adj Close,avrg_return_daily,std_return_daily,skew_return_daily,avrg_vol,std_vol,prev_price,return,next_month_return,cum_3m,cum_6m,cum_9m,cum_12m,sharpe_ratio
0,A,2010,1,2010-01-29,18.020000,-0.006012,0.014417,-0.990304,9.082284e+07,2.211967e+07,93.049171,0.014741,0.122369,0.041941,0.085969,0.132701,0.180425,-2.398202
1,A,2010,2,2010-02-26,20.225084,0.006162,0.012060,0.795521,1.221945e+08,4.278765e+07,18.020000,0.122369,0.093134,0.041941,0.085969,0.132701,0.180425,1.956951
2,A,2010,3,2010-03-31,22.108727,0.003922,0.009486,0.943516,1.250573e+08,3.023042e+07,20.225084,0.093134,0.054376,0.041941,0.085969,0.132701,0.180425,2.418757
3,A,2010,4,2010-04-30,23.310921,0.002628,0.014793,0.484650,1.281770e+08,6.801884e+07,22.108727,0.054376,-0.107557,0.293614,0.085969,0.132701,0.180425,5.628915
4,A,2010,5,2010-05-28,20.803675,-0.005176,0.032369,0.345698,1.466619e+08,7.069491e+07,23.310921,-0.107557,-0.121446,0.028608,0.085969,0.132701,0.180425,-6.253637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79874,ZTS,2023,8,2023-08-31,189.085724,0.000684,0.016494,1.283725,3.264086e+08,1.348560e+08,186.683823,0.012866,-0.086767,0.171272,0.145743,0.244250,0.227855,24.099844
79875,ZTS,2023,9,2023-09-29,172.679321,-0.004461,0.011811,-0.679614,2.816446e+08,8.595063e+07,189.085724,-0.086767,-0.095437,0.012500,0.049850,0.195139,0.183626,-2.647625
79876,ZTS,2023,10,2023-10-31,156.199341,-0.004472,0.012649,-0.547005,2.832688e+08,9.145077e+07,172.679321,-0.095437,0.125287,-0.163295,-0.102731,-0.044892,0.050750,-2.828500
79877,ZTS,2023,11,2023-11-30,175.769028,0.005804,0.018881,0.931149,3.806269e+08,2.169175e+08,156.199341,0.125287,0.117168,-0.070427,0.088783,0.065052,0.156621,3.253285
79878,ZTS,2023,12,2023-12-29,196.363464,0.005634,0.012894,-0.161835,3.351546e+08,1.669749e+08,175.769028,0.117168,0.014741,0.137157,0.151371,0.193845,0.359061,2.288630

In [125]:
merged_payratio['start'] = pd.to_datetime(merged_payratio['start'])

# Resample the dataframe to monthly frequency and aggregate values using appropriate functions
monthly_data_pr = merged_payratio.resample('M').agg({
    'Ticker': 'first',  # Take the first value of Ticker for each month
    'val_sbc': 'mean',  # Calculate the mean of val_sbc for each month
    'accn': 'first',
    'Payout_ratio':'mean'# Take the first value of accn for each month
    # Similarly, aggregate other columns as needed
})

# Reset index to make 'end_sbc' a column again
monthly_data_pr.reset_index(inplace=True)
monthly_data_pr

       end_sbc Ticker       val_sbc                  accn  Payout_ratio
0   2010-01-31    MAR  4.037967e+08  0001193125-10-091169  5.118716e+08
1   2010-02-28    BBY  7.360591e+07  0001104659-10-037444  1.043222e+08
2   2010-03-31    MAR  7.548205e+08  0001193125-10-091169  1.332861e+09
3   2010-04-30     KO  4.883344e+08  0001047469-10-004416  4.079378e+08
4   2010-05-31    TJX  1.275285e+09  0000950123-10-054084  2.799840e+09
..         ...    ...           ...                   ...           ...
163 2023-08-31     DG  2.288555e+08  0001558370-23-015376 -2.305640e+08
164 2023-09-30   ADBE  7.605989e+08  0000796343-23-000205           NaN
165 2023-10-31    JNJ  3.619553e+08  0000200406-23-000102  9.584711e+07
166 2023-11-30     DG  5.426020e+08  0001558370-23-019576  4.302715e+08
167 2023-12-31   ADBE  8.638135e+08  0000796343-24-000006           NaN

[168 rows x 5 columns]

In [130]:
merged_finlev['end_assets'] = pd.to_datetime(merged_finlev['end_assets'])

# Resample the dataframe to monthly frequency and aggregate values using appropriate functions
monthly_data_fl = merged_finlev.resample('M').agg({
    'Ticker': 'first',  # Take the first value of Ticker for each month 
    'accn': 'first',
    'Fin_Leverage':'mean'# Take the first value of accn for each month
    # Similarly, aggregate other columns as needed
})

# Reset index to make 'end_sbc' a column again
monthly_data_fl.reset_index(inplace=True)
monthly_data_fl

      end_liab Ticker                  accn  Fin_Leverage
0   2010-01-31    WDC  0000950123-10-006821      0.520513
1   2010-02-28   COST  0001193125-10-059399      0.450405
2   2010-03-31   ADBE  0000796343-10-000007      0.637662
3   2010-04-30    WDC  0000950123-10-041578      0.530339
4   2010-05-31   CSCO  0001193125-10-128609      0.598283
..         ...    ...                   ...           ...
163 2023-08-31    LOW  0000060667-23-000139      0.689658
164 2023-09-30   ADBE  0000796343-23-000205      0.672268
165 2023-10-31    JNJ  0000200406-23-000102      0.602157
166 2023-11-30    LOW  0000060667-23-000164      0.699393
167 2023-12-31   ADBE  0000796343-24-000006      0.675953

[168 rows x 4 columns]

In [139]:
merged_act.set_index('end_assets', inplace=True)

In [140]:
monthly_data_act = merged_act.resample('M').agg({
    'Ticker': 'first',  
    'accn': 'first',
    'Activity':'mean'
})

monthly_data_act.reset_index(inplace=True)
monthly_data_act

    end_assets Ticker                  accn  Activity
0   2010-01-31    MAR  0001193125-10-091169  0.728389
1   2010-02-28   COST  0001193125-11-069779  1.305080
2   2010-03-31    MAR  0001193125-10-091169  0.300901
3   2010-04-30      J  0001193125-10-099363  0.296494
4   2010-05-31    TJX  0000950123-11-054824  0.447531
..         ...    ...                   ...       ...
163 2023-08-31    AZO  0001558370-23-016668  0.450414
164 2023-09-30   ADBE  0000796343-23-000205  0.315870
165 2023-10-31    PFE  0000078003-23-000115  0.610043
166 2023-11-30    AZO  0001558370-23-019871  0.527378
167 2023-12-31   ADBE  0000796343-24-000006  0.370928

[168 rows x 4 columns]

In [145]:
#merged_liq['end_currliab'] = pd.to_datetime(merged_liq['end_currliab'])
merged_liq.set_index('end_currliab', inplace=True)
monthly_data_lq = merged_liq.resample('M').agg({
    'Ticker': 'first',  
    'accn': 'first',
    'Liquidity':'mean'
})

monthly_data_lq.reset_index(inplace=True)
monthly_data_lq

    end_currliab Ticker                  accn  Liquidity
0     2010-01-31    MAR  0001193125-10-030603   1.935465
1     2010-02-28    AZO  0000950123-10-025907   1.711250
2     2010-03-31   ADBE  0000796343-10-000007   2.104068
3     2010-04-30     KO  0001047469-10-004416   2.129919
4     2010-05-31   CSCO  0001193125-10-128609   1.998624
..           ...    ...                   ...        ...
163   2023-08-31    LOW  0000060667-23-000139   1.461758
164   2023-09-30   ADBE  0000796343-23-000205   1.572397
165   2023-10-31    JNJ  0000200406-23-000102   1.647323
166   2023-11-30    LOW  0000060667-23-000164   1.260648
167   2023-12-31   ADBE  0000796343-24-000006   1.529191

[168 rows x 4 columns]

In [154]:
#merged_prof['end_net_income'] = pd.to_datetime(merged_prof['end_net_income'])
merged_prof.set_index('end_assets', inplace=True)
monthly_data_pf = merged_prof.resample('M').agg({
    'Ticker': 'first',  
    'accn': 'first',
    'Profitability':'mean'
})

monthly_data_pf.reset_index(inplace=True)
monthly_data_pf

    end_assets Ticker                  accn  Profitability
0   2010-01-31    MAR  0001193125-10-091169       0.044004
1   2010-02-28   COST  0001193125-11-069779       0.026024
2   2010-03-31    MAR  0001193125-10-091169       0.014425
3   2010-04-30     KO  0001047469-10-004416       0.033600
4   2010-05-31   CSCO  0001193125-10-128609       0.035554
..         ...    ...                   ...            ...
163 2023-08-31    LOW  0000060667-23-000139       0.029537
164 2023-09-30   ADBE  0000796343-23-000205       0.034281
165 2023-10-31    JNJ  0000200406-23-000102       0.042082
166 2023-11-30    LOW  0000060667-23-000164       0.025832
167 2023-12-31   ADBE  0000796343-24-000006       0.046141

[168 rows x 4 columns]

In [162]:
final_merged=pd.merge(monthly_data_pr, monthly_data_fl, on=['Ticker', 'accn'])
final_merged

,end_sbc,Ticker,val_sbc,accn,Payout_ratio,end_liab,Fin_Leverage
0,2010-06-30,ADBE,7.958047e+08,0000796343-10-000011,5.337710e+08,2010-06-30,0.602862
1,2010-09-30,MU,8.063702e+08,0000723125-11-000037,5.009497e+08,2010-09-30,0.580023
2,2010-09-30,MU,8.063702e+08,0000723125-11-000037,5.009497e+08,2010-12-31,0.602187
3,2010-12-31,MU,5.627177e+08,0000723125-11-000037,5.961394e+08,2010-09-30,0.580023
4,2010-12-31,MU,5.627177e+08,0000723125-11-000037,5.961394e+08,2010-12-31,0.602187
...,...,...,...,...,...,...,...
80,2023-03-31,MU,8.511430e+08,0000723125-23-000022,NaN,2023-03-31,0.672624
81,2023-06-30,MU,8.849845e+08,0000723125-23-000041,NaN,2023-06-30,0.675150
82,2023-09-30,ADBE,7.605989e+08,0000796343-23-000205,NaN,2023-09-30,0.672268
83,2023-10-31,JNJ,3.619553e+08,0000200406-23-000102,9.584711e+07,2023-10-31,0.602157
84,2023-12-31,ADBE,8.638135e+08,0000796343-24-000006,NaN,2023-12-31,0.675953

In [163]:
final_merged=pd.merge(final_merged, monthly_data_pf, on=['Ticker', 'accn'])
final_merged

,end_sbc,Ticker,val_sbc,accn,Payout_ratio,end_liab,Fin_Leverage,end_assets,Profitability
0,2010-06-30,ADBE,7.958047e+08,0000796343-10-000011,5.337710e+08,2010-06-30,0.602862,2010-06-30,0.027838
1,2010-09-30,MU,8.063702e+08,0000723125-11-000037,5.009497e+08,2010-09-30,0.580023,2010-09-30,0.030622
2,2010-09-30,MU,8.063702e+08,0000723125-11-000037,5.009497e+08,2010-09-30,0.580023,2010-12-31,0.023958
3,2010-09-30,MU,8.063702e+08,0000723125-11-000037,5.009497e+08,2010-12-31,0.602187,2010-09-30,0.030622
4,2010-09-30,MU,8.063702e+08,0000723125-11-000037,5.009497e+08,2010-12-31,0.602187,2010-12-31,0.023958
...,...,...,...,...,...,...,...,...,...
80,2023-03-31,MU,8.511430e+08,0000723125-23-000022,NaN,2023-03-31,0.672624,2023-03-31,0.022235
81,2023-06-30,MU,8.849845e+08,0000723125-23-000041,NaN,2023-06-30,0.675150,2023-06-30,0.028696
82,2023-09-30,ADBE,7.605989e+08,0000796343-23-000205,NaN,2023-09-30,0.672268,2023-09-30,0.034281
83,2023-10-31,JNJ,3.619553e+08,0000200406-23-000102,9.584711e+07,2023-10-31,0.602157,2023-10-31,0.042082
84,2023-12-31,ADBE,8.638135e+08,0000796343-24-000006,NaN,2023-12-31,0.675953,2023-12-31,0.046141

In [164]:

final_merged=pd.merge(final_merged, monthly_data_lq, on=['Ticker', 'accn'])
final_merged

,end_sbc,Ticker,val_sbc,accn,Payout_ratio,end_liab,Fin_Leverage,end_assets,Profitability,end_currliab,Liquidity
0,2010-06-30,ADBE,7.958047e+08,0000796343-10-000011,5.337710e+08,2010-06-30,0.602862,2010-06-30,0.027838,2010-06-30,2.177931
1,2010-09-30,MU,8.063702e+08,0000723125-11-000037,5.009497e+08,2010-09-30,0.580023,2010-09-30,0.030622,2010-09-30,2.181088
2,2010-09-30,MU,8.063702e+08,0000723125-11-000037,5.009497e+08,2010-09-30,0.580023,2010-09-30,0.030622,2010-12-31,2.028439
3,2010-09-30,MU,8.063702e+08,0000723125-11-000037,5.009497e+08,2010-09-30,0.580023,2010-12-31,0.023958,2010-09-30,2.181088
4,2010-09-30,MU,8.063702e+08,0000723125-11-000037,5.009497e+08,2010-09-30,0.580023,2010-12-31,0.023958,2010-12-31,2.028439
...,...,...,...,...,...,...,...,...,...,...,...
88,2023-03-31,MU,8.511430e+08,0000723125-23-000022,NaN,2023-03-31,0.672624,2023-03-31,0.022235,2023-03-31,1.573238
89,2023-06-30,MU,8.849845e+08,0000723125-23-000041,NaN,2023-06-30,0.675150,2023-06-30,0.028696,2023-06-30,1.608918
90,2023-09-30,ADBE,7.605989e+08,0000796343-23-000205,NaN,2023-09-30,0.672268,2023-09-30,0.034281,2023-09-30,1.572397
91,2023-10-31,JNJ,3.619553e+08,0000200406-23-000102,9.584711e+07,2023-10-31,0.602157,2023-10-31,0.042082,2023-10-31,1.647323
92,2023-12-31,ADBE,8.638135e+08,0000796343-24-000006,NaN,2023-12-31,0.675953,2023-12-31,0.046141,2023-12-31,1.529191

In [165]:

final_merged=pd.merge(final_merged, monthly_data_act, on=['Ticker', 'accn'])
final_merged

,end_sbc,Ticker,val_sbc,accn,Payout_ratio,end_liab,Fin_Leverage,end_assets_x,Profitability,end_currliab,Liquidity,end_assets_y,Activity
0,2010-06-30,ADBE,7.958047e+08,0000796343-10-000011,5.337710e+08,2010-06-30,0.602862,2010-06-30,0.027838,2010-06-30,2.177931,2010-06-30,0.380020
1,2012-06-30,ADBE,6.957926e+08,0000796343-12-000022,8.090692e+08,2012-06-30,0.609132,2012-06-30,0.028462,2012-06-30,2.047896,2012-06-30,0.343677
2,2012-09-30,COST,8.991746e+08,0001193125-12-428890,NaN,2012-09-30,0.605403,2012-09-30,0.028151,2012-09-30,1.961206,2012-09-30,0.446492
3,2012-10-31,NTAP,9.903361e+08,0001193125-12-487586,4.478311e+08,2012-10-31,0.514301,2012-10-31,0.039926,2012-10-31,1.942070,2012-10-31,0.506725
4,2013-01-31,NTAP,1.913011e+08,0001193125-13-084667,NaN,2013-01-31,0.570202,2013-01-31,0.021906,2013-01-31,2.009166,2013-01-31,0.545354
5,2013-03-31,ADBE,5.884707e+08,0000796343-13-000033,-1.565141e+09,2013-03-31,0.611296,2013-03-31,0.018839,2013-03-31,2.034637,2013-03-31,0.200517
6,2013-09-30,COST,6.238336e+08,0001445305-13-002422,NaN,2013-09-30,0.603933,2013-09-30,0.030773,2013-09-30,1.961828,2013-09-30,0.418165
7,2014-01-31,TRMB,3.256281e+08,0000864749-14-000021,8.945712e+08,2014-01-31,0.559344,2014-01-31,0.019742,2014-01-31,2.000094,2014-01-31,0.482950
8,2014-04-30,TRMB,4.322036e+08,0000864749-14-000034,NaN,2014-04-30,0.511148,2014-04-30,0.031827,2014-04-30,2.176315,2014-04-30,0.268685
9,2014-07-31,TRMB,4.442616e+08,0000864749-14-000082,3.173586e+08,2014-07-31,0.463382,2014-07-31,0.029772,2014-07-31,2.337330,2014-07-31,0.391139
10,2016-05-31,NVDA,5.695136e+08,0001045810-16-000275,1.373155e+09,2016-05-31,0.674098,2016-05-31,0.039303,2016-05-31,1.677979,2016-05-31,0.458363
11,2017-09-30,ADBE,5.507151e+08,0000796343-17-000157,7.737966e+08,2017-09-30,0.653768,2017-09-30,0.029145,2017-09-30,1.763381,2017-09-30,0.380973
12,2017-12-31,ADBE,7.051154e+08,0000796343-18-000015,NaN,2017-12-31,0.665736,2017-12-31,0.028337,2017-12-31,1.769147,2017-12-31,0.262875
13,2018-06-30,ADBE,6.169468e+08,0000796343-18-000134,NaN,2018-06-30,0.640939,2018-06-30,0.028137,2018-06-30,1.793893,2018-06-30,0.290128
14,2018-09-30,COST,5.524070e+08,0000909832-18-000013,8.397358e+08,2018-09-30,0.647807,2018-09-30,0.032939,2018-09-30,1.688766,2018-09-30,0.359370
15,2019-03-31,ADBE,7.319098e+08,0000796343-19-000079,8.458967e+08,2019-03-31,0.675278,2019-03-31,0.021441,2019-03-31,1.735617,2019-03-31,0.197899
16,2019-06-30,PEP,6.833356e+08,0000077476-19-000070,7.141730e+08,2019-06-30,0.666004,2019-06-30,0.026529,2019-06-30,1.793864,2019-06-30,0.272172
17,2019-09-30,COST,6.174207e+08,0000909832-19-000019,NaN,2019-09-30,0.670932,2019-09-30,0.032523,2019-09-30,1.684746,2019-09-30,0.351672
18,2020-03-31,PEP,6.761648e+08,0000077476-20-000041,NaN,2020-03-31,0.665543,2020-03-31,0.019171,2020-03-31,1.748827,2020-03-31,0.192099
19,2020-06-30,PEP,6.957530e+08,0000077476-20-000060,NaN,2020-06-30,NaN,2020-06-30,0.023421,2020-06-30,2.265106,2020-06-30,0.264204
20,2021-08-31,NVDA,3.197220e+08,0001045810-21-000131,1.233182e+08,2021-08-31,0.683811,2021-08-31,0.047220,2021-08-31,1.459573,2021-08-31,0.839917
21,2022-05-31,NVDA,7.131619e+08,0001045810-22-000079,2.642501e+08,2022-05-31,0.688490,2022-05-31,0.044173,2022-05-31,1.517564,2022-05-31,0.424576
22,2023-09-30,ADBE,7.605989e+08,0000796343-23-000205,NaN,2023-09-30,0.672268,2023-09-30,0.034281,2023-09-30,1.572397,2023-09-30,0.315870
23,2023-12-31,ADBE,8.638135e+08,0000796343-24-000006,NaN,2023-12-31,0.675953,2023-12-31,0.046141,2023-12-31,1.529191,2023-12-31,0.370928

In [166]:
final_data_1 = pd.merge(temp_data, final_merged[['Ticker','Profitability','Payout_ratio','Fin_Leverage','Liquidity','Activity']], left_on='Symbol', right_on='Ticker', how='left')
final_data_1

,Symbol,year,month,Date,Adj Close,avrg_return_daily,std_return_daily,skew_return_daily,avrg_vol,std_vol,...,cum_6m,cum_9m,cum_12m,sharpe_ratio,Ticker,Profitability,Payout_ratio,Fin_Leverage,Liquidity,Activity
0,A,2010,1,2010-01-29,18.020000,-0.006012,0.014417,-0.990304,9.082284e+07,2.211967e+07,...,0.085969,0.132701,0.180425,-2.398202,NaN,NaN,NaN,NaN,NaN,NaN
1,A,2010,2,2010-02-26,20.225084,0.006162,0.012060,0.795521,1.221945e+08,4.278765e+07,...,0.085969,0.132701,0.180425,1.956951,NaN,NaN,NaN,NaN,NaN,NaN
2,A,2010,3,2010-03-31,22.108727,0.003922,0.009486,0.943516,1.250573e+08,3.023042e+07,...,0.085969,0.132701,0.180425,2.418757,NaN,NaN,NaN,NaN,NaN,NaN
3,A,2010,4,2010-04-30,23.310921,0.002628,0.014793,0.484650,1.281770e+08,6.801884e+07,...,0.085969,0.132701,0.180425,5.628915,NaN,NaN,NaN,NaN,NaN,NaN
4,A,2010,5,2010-05-28,20.803675,-0.005176,0.032369,0.345698,1.466619e+08,7.069491e+07,...,0.085969,0.132701,0.180425,-6.253637,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82898,ZTS,2023,8,2023-08-31,189.085724,0.000684,0.016494,1.283725,3.264086e+08,1.348560e+08,...,0.145743,0.244250,0.227855,24.099844,NaN,NaN,NaN,NaN,NaN,NaN
82899,ZTS,2023,9,2023-09-29,172.679321,-0.004461,0.011811,-0.679614,2.816446e+08,8.595063e+07,...,0.049850,0.195139,0.183626,-2.647625,NaN,NaN,NaN,NaN,NaN,NaN
82900,ZTS,2023,10,2023-10-31,156.199341,-0.004472,0.012649,-0.547005,2.832688e+08,9.145077e+07,...,-0.102731,-0.044892,0.050750,-2.828500,NaN,NaN,NaN,NaN,NaN,NaN
82901,ZTS,2023,11,2023-11-30,175.769028,0.005804,0.018881,0.931149,3.806269e+08,2.169175e+08,...,0.088783,0.065052,0.156621,3.253285,NaN,NaN,NaN,NaN,NaN,NaN
82902,ZTS,2023,12,2023-12-29,196.363464,0.005634,0.012894,-0.161835,3.351546e+08,1.669749e+08,...,0.151371,0.193845,0.359061,2.288630,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
mean_values = final_data_1.mean()
final_data_filled = final_data_1.fillna(mean_values)
final_data_filled

/var/folders/t1/4y3q60x944ddctvkc3lmjcz40000gn/T/ipykernel_57088/1391698788.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  mean_values = final_data_1.mean()
/var/folders/t1/4y3q60x944ddctvkc3lmjcz40000gn/T/ipykernel_57088/1391698788.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_values = final_data_1.mean()

,Symbol,year,month,Date,Adj Close,avrg_return_daily,std_return_daily,skew_return_daily,avrg_vol,std_vol,...,cum_6m,cum_9m,cum_12m,sharpe_ratio,Ticker,Profitability,Payout_ratio,Fin_Leverage,Liquidity,Activity
0,A,2010,1,2010-01-29,18.020000,-0.006012,0.014417,-0.990304,9.082284e+07,2.211967e+07,...,0.085969,0.132701,0.180425,-2.398202,NaN,0.030416,4.901374e+08,0.623114,1.860355,0.373532
1,A,2010,2,2010-02-26,20.225084,0.006162,0.012060,0.795521,1.221945e+08,4.278765e+07,...,0.085969,0.132701,0.180425,1.956951,NaN,0.030416,4.901374e+08,0.623114,1.860355,0.373532
2,A,2010,3,2010-03-31,22.108727,0.003922,0.009486,0.943516,1.250573e+08,3.023042e+07,...,0.085969,0.132701,0.180425,2.418757,NaN,0.030416,4.901374e+08,0.623114,1.860355,0.373532
3,A,2010,4,2010-04-30,23.310921,0.002628,0.014793,0.484650,1.281770e+08,6.801884e+07,...,0.085969,0.132701,0.180425,5.628915,NaN,0.030416,4.901374e+08,0.623114,1.860355,0.373532
4,A,2010,5,2010-05-28,20.803675,-0.005176,0.032369,0.345698,1.466619e+08,7.069491e+07,...,0.085969,0.132701,0.180425,-6.253637,NaN,0.030416,4.901374e+08,0.623114,1.860355,0.373532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82898,ZTS,2023,8,2023-08-31,189.085724,0.000684,0.016494,1.283725,3.264086e+08,1.348560e+08,...,0.145743,0.244250,0.227855,24.099844,NaN,0.030416,4.901374e+08,0.623114,1.860355,0.373532
82899,ZTS,2023,9,2023-09-29,172.679321,-0.004461,0.011811,-0.679614,2.816446e+08,8.595063e+07,...,0.049850,0.195139,0.183626,-2.647625,NaN,0.030416,4.901374e+08,0.623114,1.860355,0.373532
82900,ZTS,2023,10,2023-10-31,156.199341,-0.004472,0.012649,-0.547005,2.832688e+08,9.145077e+07,...,-0.102731,-0.044892,0.050750,-2.828500,NaN,0.030416,4.901374e+08,0.623114,1.860355,0.373532
82901,ZTS,2023,11,2023-11-30,175.769028,0.005804,0.018881,0.931149,3.806269e+08,2.169175e+08,...,0.088783,0.065052,0.156621,3.253285,NaN,0.030416,4.901374e+08,0.623114,1.860355,0.373532
82902,ZTS,2023,12,2023-12-29,196.363464,0.005634,0.012894,-0.161835,3.351546e+08,1.669749e+08,...,0.151371,0.193845,0.359061,2.288630,NaN,0.030416,4.901374e+08,0.623114,1.860355,0.373532

In [174]:
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.model_selection import train_test_split

# Feature Engineering: Create new features
X_fl = final_data_filled.drop(columns=['Symbol', 'Date', 'next_month_return', 'return', 'year', 'month', 'Ticker'])
y_fl = final_data_filled['next_month_return']

poly_fl = PolynomialFeatures(degree=2, include_bias=False)
X_poly_fl = poly_fl.fit_transform(X_fl)
X_with_interaction_fl = pd.DataFrame(X_poly_fl, columns=poly_fl.get_feature_names(input_features=X_fl.columns))

# Normalization: Normalize the features
scaler_fl = StandardScaler()
X_with_interaction_normalized_fl = scaler_fl.fit_transform(X_with_interaction_fl)

# Splitting: Split the normalized feature matrix and target variable into training and testing sets
X_train_fl, X_test_fl, y_train_fl, y_test_fl = train_test_split(X_with_interaction_normalized_fl, y_fl, test_size=0.2, random_state=8)

/Users/apple/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import mean_squared_error, r2_score
from scipy.stats import randint

# Define the model
random_forest = RandomForestRegressor(random_state=8)

# Hyperparameter tuning
param_dist = {
    'n_estimators': randint(10, 50),          # Reduced range for n_estimators
    'max_depth': [None, 5],                    # Fewer options for max_depth
    'min_samples_split': randint(2, 5),        # Reduced range for min_samples_split
    'min_samples_leaf': [1],
    'max_features': ['auto', 'sqrt']   # Only one option for min_samples_leaf
}

random_search = RandomizedSearchCV(random_forest, param_dist, n_iter=3, cv=5, scoring='r2')
random_search.fit(X_train_fl, y_train_fl)

# Best hyperparameters
best_params = random_search.best_params_
print("Best Hyperparameters:", best_params)

# Best model
best_random_forest = random_search.best_estimator_

# Train the model
best_random_forest.fit(X_train_fl, y_train_fl)

# Evaluate on training data
y_train_pred = best_random_forest.predict(X_train_fl)
train_rmse = mean_squared_error(y_train_fl, y_train_pred, squared=False)
train_r2 = r2_score(y_train_fl, y_train_pred)
print("Train RMSE:", train_rmse)
print("Train R^2:", train_r2)

# Evaluate on test data
y_test_pred = best_random_forest.predict(X_test_fl)
test_rmse = mean_squared_error(y_test_fl, y_test_pred, squared=False)
test_r2 = r2_score(y_test_fl, y_test_pred)
print("Test RMSE:", test_rmse)
print("Test R^2:", test_r2)